<!-- 1 I am a UX desigenr-->
<div class="slide-block">
    <h2 class="slide-text">Hi there, I am a user experience designer</h2>
    <img class="slide-img-full" src="/images/index/sara_UX_toolbox.jpg" alt="Sara Michelazzo at a white table with sketches, wireframes and paper prototypes for Safety Culture products "/>
    <div class="arrow-center">
        <i class='arrow-center-icon up'></i> 
    </div>
</div>

<!-- 2 I help teams to...-->
<div class="slide-block container-fluid background-lg">
    <!-- grid 2 colums-->
    <div class="row-fluid blockPadding-50-top">
        <div class="col-sm-8 padding-lr-30">
            <iframe class="img" src="//player.vimeo.com/video/99625338?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="600" height="338" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="col-sm-4 padding-lr-30">
            <h4>I help teams to create great experiences.</h4>
            <p>I work as UX Desigenr at <a href="http://www.safetyculture.io">SafetyCulture</a>. We make apps for safety. I have the honor to work with designers, developers, maketers, support, executives and users. They teach me something new every day. We bounce ideas and we work hard to make good experiences happen.</p>
            <p><strong>Check the video to understanf the app jouney,</strong></p>
        </div>
    </div>
</div>

<!-- 3 Full image of me working-->
<!-- <div class="slide-block">
    <img class="slide-img-full" src="/images/index/saramichelazzo_uxdesigner.jpg" alt="Sara Michelazzo at a white table with sketches, wireframes and paper prototypes for Safety Culture products "/>
</div> -->

      <div class="col-sm-12">


    

    <!-- 5 This is how I do it-->
    <div class="slide-block background-lg">
        <h2>This is how I do it</h2>
        <!-- photos row 1-->
        <div class="clearfix hide-photos">
            <div class="textImage textImage-images">
                <img src="images/about/saramichelazzopanelist_sq.jpg" class="img-about" alt="">
            </div>
            <div class="textImage textImage-images">
                <img src="images/about/saramichelazzopostit.jpg" class="img-about" alt="">
            </div>
            <div class="textImage textImage-images">
                <img src="images/about/saramichelazzopanelist_sq.jpg" class="img-about" alt="">
            </div>
            <div class="textImage textImage-images">
                <img src="images/about/saramichelazzopostit.jpg" class="img-about" alt="">
            </div>
            <div class="textImage textImage-images">
                <img src="images/about/saramichelazzopostit.jpg" class="img-about" alt="">
            </div>
        </div>
        <!-- photos row 2-->
        <div class="clearfix hide-photos">
            <div class="textImage textImage-images">
                <img src="images/about/saramichelazzopanelist_sq.jpg" class="img-about" alt="">
            </div>
            <div class="textImage textImage-images">
                <img src="images/about/saramichelazzopostit.jpg" class="img-about" alt="">
            </div>
            <div class="textImage textImage-images">
                <img src="images/about/saramichelazzopanelist_sq.jpg" class="img-about" alt="">
            </div>
            <div class="textImage textImage-images">
                <img src="images/about/saramichelazzopostit.jpg" class="img-about" alt="">
            </div>
            <div class="textImage textImage-images">
                <img src="images/about/saramichelazzopostit.jpg" class="img-about" alt="">
            </div>
        </div>
        <!-- photos row 3-->
        <div class="clearfix hide-photos">
            <div class="textImage textImage-25 ">
                <img src="images/about/saramichelazzopanelist_sq.jpg" class="img-about" alt="">
            </div>
            <div class="textImage textImage-25 ">
                <img src="images/about/saramichelazzopostit.jpg" class="img-about" alt="">
            </div>
            <div class="textImage textImage-25 ">
                <img src="images/about/saramichelazzopanelist_sq.jpg" class="img-about" alt="">
            </div>
            <div class="textImage textImage-25 ">
                <img src="images/about/saramichelazzopostit.jpg" class="img-about" alt="">
            </div>
        </div>
    </div>


    <!-- This is what I have learnt...-->
    <div class="slide-block container-fluid background-lg"> 
        <!-- grid 2 colums-->
        <div class="row-fluid blockPadding-50-top">
            <div class="col-sm-6 padding-lr-30">
                <img src="images/index/saramichelazzo_book.png">
            </div>
            <div class="col-sm-5 padding-lr-30">
                <p>This is what I have learnt along the way...</p>
                <h4 class="text-book-title">Everyone is a UX Designer</h4>
                <p class="text-book-text">Taking pictures doesn’t make you a photographer. Drawing doesn’t make you an artist. Running doesn’t make you an athlets. </p> 
                <p class="text-book-text">The difference is not in the action performed but in the process to get there and in the quality of the result.</p>
                <p><strong>keep reading</strong></p>
            </div>
        </div>
    </div>


    <!-- Let's talk about you. You must be...-->
    <div class="slide-block container-fluid background-lg"> 
        <!-- grid 3 colums-->
        <div class="row-fluid blockPadding-50-top">
            <h2>Let's talk about you. You must be...</h2>
            <div class="col-sm-4 padding-lr-30">
                <h4>A recruiter</h4> 
                <p>I am not looking for work, I am happily working at
                    SafetyCulture. I know many graduate designer that are looking for great opportunities..
                </p>
                <img src="images/index/recruiter.png">
            </div>           
            <div class="col-sm-4 padding-lr-30">
                <h4>A designer</h4> 
                <p>Hi, if you are for insiration I hope you can find some. If you feel I can help you somehow drop me a line.</p>
                <img src="images/index/designer.png">
            </div>
            <div class="col-sm-4 padding-lr-30">
                <h4>My mum</h4> 
                <p>Are you still trying to understand what I do for living? <br>I love you mum. Thanks for teaching what caring means... I use it in my job a lot!</p>
                <img src="images/index/mum.png">
            </div>
        </div>
    </div>


    <!-- Follow me on twitter-->
<div class="row blockPadding-50">
  <div class="col-sm-12">
        <h2 class="slide-text">Follow me</h2>
          <!-- <img src="images/index/twitter.png" style="height: 100%; left: 100%; z-index:30">-->
        <img class="" src="/images/index/sky.jpg" alt="beautuful sky image"/>
        <p class="whitetype">Featured by General Assembly, Sharepoint, the Design kid</p>
    </div>
</div>