
    <!--About-->
    <section id="section1" class="section container">
      <div class="row">
        <div class="col-md-7">
          <p class="font-pacifico-big">About me</p>
          <p>Hi, I am an <strong>italian designer</strong> moved to Sydney to attend the UXDi (User Experience Design Immersive) course by General Assembly to improve my skills in user research, prototyping and iteractiona and interface design.
          <a href="https://generalassemb.ly/education/user-experience-design-immersive/sydney">Learn more of the class</a></p>

          
        </div>
        <div class="col-md-4 col-md-offset-1">
            <div class="row">
              <div class="col-md-10">
                <p class="font-pacifico-big">Hire me</p>
                <p class="p-bigger"><strong>+61 449 042 719</strong></br>
                  <strong>sara.michelazzo@gmail.com</strong></br>
                </p>
              </div>
              <div class="col-md-2">
                <img src="images/sara_michelazzo.jpg" alt=""  width="80px;"/>
              </div>
            </div>
        </div>
      </div>  

      <div class="row">
        <div class="col-md-12">
          <p class="font-pacifico-big">My story</p>
            <img src="images/saraStory.jpg" alt=""  /> <!--width: 940px; padding: 20px 0; -->
             <p>When I was young I wanted to be an Art Conservator, I took a Master degree in Fine Art and Science and I specialized in contemporary art. Then I fligh to New York to work as Art conservator and I really loved to be sourranded ny art and beauty but I wanted a more creative job. I self-tough me to be a designer and I got a job as designer in a software house start-up. In I worked both in the Marketing than in the R&amp;D. I made videos, Marketing campaigns, collaterals, build their websites, interface designer and visual designer. People liked the interface but they were using the product so sturted studying UX on my own and bring it to my company. I really wanted to boost my competence in UX and this is why I ended up at GA. </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-8">
          <p class="font-pacifico-big">Thanks</p>
            <p>for stopping by,</p>
            <p><strong>Sara</strong></p>

          
             
        </div>
      </div>



    </section>