<section id="section1" class="container">

  <div class="row blockPadding-50-top">
    <div class="col-md-7">
      <h1>Me &amp; UX</h1>
      <p>Sara Michelazzo is an italian designer who recently moved to Sydney to attend the User Experience Design Immersive course at General Assembly.</p>

      <p>Sara has a diverse background in the creative industries. She holds a Master’s degree in Fine Art and after university was awarded a grant to work as an Art Conservator in New York. As a self-taught designer, she then moved into a design role in a software startup where she worked across marketing and R&amp;D, focusing primarily on visual design for digital products and campaigns.</p>

      <p>Her visual designs were well-received, but customers had trouble using the product, so Sara starting studying user experience design to improve the company’s product offering. Sara realised that she wanted to boost her competence in UX, and that’s how she’s ended up studying at General Assembly.</p>
    </div>


    <div class="col-md-4 col-md-offset-1">
      <div class="row">


        <div class="col-md-8">
          <h1>Hire me</h1>
          <p class="p-bigger">Phone:</br> +61 449 042 719</p>
          <p class="p-bigger">Email:</br> sara.michelazzo@yahoo.it</p>
          <p class="p-bigger">Skype:</br> sara.michelazzo</p>
          <p class=""><a href="images/about/Sara_Michelazzo_UX_Designer_CV.pdf"><button type="button" class="btn btn-primary btn-lg">BROWSE MY RESUME</button></a></p>
        </div>
        <div class="col-md-4">
          <img src="images/sara_michelazzo.jpg" alt="" class="img-noborder"/>
        </div>
      </div>
    </div>


  </div>
</div>
</div>  

<!-- people I have worked with -->
<div class="row blockPadding-50 ">
  <div class="col-sm-12">
    <h1>People I have worked with</h1>
  </div>
</div>

<!-- raccomandation 1st row-->
<div class="row">
  <div class="col-md-4 blockMargin-small-bottom ">

    <div class="mediaObject mediaObject-noHeight mediaObject-noHover">
      <div class="mediaObject-text">
        <p class="p-bigger">"Her understanding of how to capture emotion and user feeling in a product design or image is excellent. She has demonstrated a insatiable appetite for improving her knowledge and skills. This has allowed her to make rapid improvements in what she does. She is a real asset for any company."</p>
        <div class="row mediaObject-author">
          <div class="col-md-4 col-sm-2 col-xs-4">
            <img src="images/about/tomDavis.jpg" class="img-circle">
          </div>
          <div class="col-md-8 col-sm-10 col-xs-8">
            <h4 class="marginObject-title">TOM DAVIS</h4>
            <p>CEO and Founder, Solair</p>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 blockMargin-small-bottom ">
    <div class="mediaObject mediaObject-noHeight mediaObject-noHover">
      <div class="mediaObject-text">
        <p class="p-bigger">"Sara has demonstrated outstanding skills, professionalism and great energy. She has shown attention to detail and commitment to produce high-quality work even under tight deadlines. Sara is a good team worker, she was able to collaborate with the R&amp;D and the Marketing team as well, with an easy going and cheerful attitude."</p>
        <div class="row mediaObject-author">
          <div class="col-md-4 col-sm-2 col-xs-4">
            <img src="images/about/valeriaNaldi.jpg" class="img-circle">
          </div>
          <div class="col-md-8 col-sm-10 col-xs-8">
            <h4 class="marginObject-title">VALERIA NALDI</h4>
            <p>R&amp;D Director, Solair</p>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 blockMargin-small-bottom ">
    <div class="mediaObject mediaObject-noHeight mediaObject-noHover">
      <div class="mediaObject-text">
        <p class="p-bigger">"Sara is as a brilliant and creative designer as a careful usability advisor for web and touch-oriented user interfaces.  The passion and commitment she puts into what she does is really remarkable and able to enhance team work. It has been really a pleasure to work with you!"</p>
        <div class="row mediaObject-author">
          <div class="col-md-4 col-sm-2 col-xs-4">
            <img src="images/about/thomasRicci.jpg" class="img-circle">
          </div>
          <div class="col-md-8 col-sm-10 col-xs-8">
            <h4 class="marginObject-title">THOMAS RICCI</h4>
            <p>Software Developer, Solair</p>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
</div>



<!-- raccomandation 2nd row-->
<div class="row">
  <div class="col-md-4 blockMargin-small-bottom ">

    <!-- Elena-->
    <div class="mediaObject mediaObject-noHeight mediaObject-noHover">
      <div class="mediaObject-text">
        <p class="p-bigger">"It was a real pleasure working side by side with Sara, a bright and supportive person.  She brings enthusiasm, dedication and creativity to the table and is always studying new tools to deepen her expertise. She really gets the "big picture" and can provide real, elegant and beautifully simple solutions to business problems."</p>
        <div class="row mediaObject-author">
          <div class="col-md-4 col-sm-2 col-xs-4">
            <img src="images/about/elenaGiallombardo.jpg" class="img-circle">
          </div>
          <div class="col-md-8 col-sm-10 col-xs-8">
            <h4 class="marginObject-title">ELENA GIALLOMBARDO</h4>
            <p>Marketing Communications Specialist, Solair</p>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Mara-->
  <div class="col-md-4 blockMargin-small-bottom ">
    <div class="mediaObject mediaObject-noHeight mediaObject-noHover">
      <div class="mediaObject-text">
        <p class="p-bigger">"She has been a really good tutor and I learned a lot from her professional skills. What I appreciate the most is her appetite for knowledge which motivated myself to learn more and improve day by day. She is a really interesting person well able to stimulate everybody around her. I couldn’t ask for a better tutor!"</p>
        <div class="row mediaObject-author">
          <div class="col-md-4 col-sm-2 col-xs-4">
            <img src="images/about/maraNicolini.jpg" class="img-circle">
          </div>
          <div class="col-md-8 col-sm-10 col-xs-8">
            <h4 class="marginObject-title">MARA NICOLINI</h4>
            <p>Marketing Operation, Solair</p>
          </div>
        </div>

      </div>
    </div>
  </div>



</div>
</div>






<!-- row 3 -->
<div class="row blockPadding-50-top">
  <div class="col-sm-12">
    <h1>I like to...</h1>

    <div class="row blockPadding-50-top"> <!-- innesto -->
      <div class="col-sm-3">
        <p class="center"><img src="images/about/talkIcon.png" class="img-circle"></p>
        <h4 class="center h4-bigger">Talk</h4>
        <p class="p-bigger"><strong><a href="https://generalassemb.ly/education/from-visual-design-to-ux-making-the-career-switch/sydney/4414">From Visual Design to UX:</br>Making the Career Switch</strong></a></p>
        <p>General Assembly, Sydney</p>
        <p>In partnership with:</br>UXmastery and The Loop.</p>
      </div>
      
      <div class="col-sm-3">
        <p class="center"><img src="images/about/blogIcon.png" class="img-circle"></p>
        <h4 class="center h4-bigger">Blog</h4>
        <p class="p-bigger"><strong><a href="http://saramichelazzo.wordpress.com/">Visit my blog</strong></a></p>
        <p>This is my brand new blog where I share my thoughts, projects and findings about UX.</p>
      </div>
      
      <div class="col-sm-3">
        <p class="center"><img src="images/about/createIcon.png" class="img-circle"></p>
        <h4 class="center h4-bigger">Create</h4>
        <p class="p-bigger"><strong><a href="ttps://www.behance.net/saramichelazzo">Behance portfolio</strong></a></p>
        <p>I like to create in many different forms like taking pictures, making videos, drawing, painting and cooking. I am a big fun of self-education and I love to spend my time learning skills and tools to build my ideas.</p>
      </div>

      <div class="col-sm-3">
        <p class="center"><img src="images/about/cssIcon.png" class="img-circle"></p>
        <h4 class="center h4-bigger">Our project</h4>
        <p class="p-bigger"><strong><a href="http://albertodotcom.github.io/CSS-Sprite-Pro/">CSS Sprite Pro</strong></a></p>
        <p>CSS Sprite Pro is a web application tool that allows users to create CSS Sprites quickly and easily. My partner is the creator and developer; I have collaborated to the project as UX and Visual Designer. We love to create application to make designers &amp; developers lives easier!</p>
      </div>

    </div> <!-- end innesto -->

  </div>
</div>


<!-- My favourite -->
<div class="row blockPadding-50 ">
  <div class="col-sm-12">
    <h1>My favourite...</h1>

    <div class="row background-lg"> <!-- innesto -->
      <div class="col-sm-3 padding-lr-30">
        <h4 class="h4-bigger">Quotes</h4>
        <p class="">You can learn it.</p>
        <p class="">Passion is infectious.</p>
        <p class="">Think big.</p>
      </div>

      <div class="col-sm-3 padding-lr-30">
        <h4 class="h4-bigger">UX Books</h4>
        <p><a href="http://www.amazon.com/Design-Everyday-Things-Donald-Norman/dp/0465067107/ref=sr_1_5?s=books&ie=UTF8&qid=1392522574&sr=1-5&keywords=don+norman">The Design of Everyday Things</a></p>
        <p><a href="http://www.amazon.com/Elements-User-Experience-User-Centered-Design/dp/0321683684/ref=sr_1_1?s=books&ie=UTF8&qid=1392522534&sr=1-1&keywords=elements+of+user">The Elements of User Experience: User-Centered Design for the Web and Beyond </a></p>
        <p><a href="http://www.amazon.com/Sketching-User-Experiences-The-Workbook/dp/0123819598/ref=pd_sim_b_1">Sketching User Experience: The workbook</a></p>
      </div>

      <div class="col-sm-3 padding-lr-30">
        <h4 class="h4-bigger">Resources</h4>
        <p><a href="https://generalassemb.ly/">General Assembly</a></p>
        <p><a href="http://www.lynda.com/">Lynda.com</a></p>
        <p><a href="https://www.coursera.org/">Coursera</a></p>
        <p><a href="https://hackdesign.org/">Hack Design</a></p>
        <p><a href="https://www.codeschool.com/">Code School</a></p>
      </div>

      <div class="col-sm-3 padding-lr-30">
        <h4 class="h4-bigger">UX Tools</h4>
        <p><a href="http://www.axure.com/">Axure</a></p>
        <p><a href="http://www.omnigroup.com/omnigraffle/">OmniGraffle</a></p>
        <p><a href="http://www.invisionapp.com/">InVision</a></p>
        <p><a href="https://popapp.in/">Prototyping on Paper (POP)</a></p>
        <p><a href="http://balsamiq.com/">Balsamiq</a></p>
        <p><a href="http://www.google.com/analytics/">Google Analytics</a></p>
      </div> 

    </div>
  </div>
</div>



<!-- thanks -->

<div class="row blockPadding-50">

  <div class="col-md-4 col-md-offset-8">
    <p class="font-pacifico-big">Thanks</p>
    <p>for stopping by,</p>

    <div class="row mediaObject-author">
      <div class="col-xs-3">
        <img src="images/about/sara_michelazzo.jpg" class="img-circle">
      </div>
      <div class="col-xs-8">
        <h4 class="marginObject-title">SARA</h4>
        <p>16 February, 2014</p>
      </div>
    </div>


  </div>

</div>

</section>