
<section id="section1" class="container">
  
  <div class="blockPadding-50-bottom">
    <h1 class="center">goCatch</h1>
    <h3 class="center">Review of the booking process</h3>
    <p class="center"><strong>TOPICS: </strong>User research, Contextual Inquiries, Interviews, Empathy Mapping</p>
  </div>

    <!-- project | role | duration -->
    <div class="row background-lg">
      <div class="col-sm-4 padding-lr-30">

        <h4>Brief</h4>
        <p>GA team is conducting an end to end review of the booking process for both Passenger and Driver of the current GoCatch mobile application.</p>
        <h4>Client</h4>
         <p>GoCatch is the client for the student project for User Experience Design Immersive, General Assembly, Summer Sydney 2014</p>
      </div>
      
      <div class="col-sm-4 padding-lr-30">

        <h4>Duration</h4>
        <p>3 weeks</br>2/10-2/28</p>
        <h4>Team</h4>
        <p>Deepa Dhupalia</br>Michael Shai Hee</br>Sara Michelazzo</br>Suhasini Vempati</br></p>
      </div>

      <div class="col-sm-4 padding-lr-30">
        <h4>My Role</h4>
        <p>Evaluate the current application, mapping user flows, conduct contextual inquiries, conduct interviews, create empathy map, sketch new ideas and storyboards, define the vison, assemble the deliverable.</p>
        <h4>Tools</h4>
        <p>Omnigraffle, POP App, Camera, audio recorder, Excel, prints, sharpies &amp; paper.</p>

      </div>
    </div>

 <!--container 910px-->
 <div class="containter910px">

    <!--IMG-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <h4>Product</h4>
        <p>Go Catch is a smartphone taxi booking application, targeted at both passengers and drivers across Australia. The application is distributed via the Apple store, via web downloads and in Blackberry World.</br>All though there are applications available for Android, Blackberry and Windows mobiles, we will be concentrating our efforts on the iPhone version of this application. </br>Version: iOS version 3.8.5 (in production).</p>
      </div>
    </div>

    <!--IMG-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-6 padding-lr-30">
        <h4>KICK OFF MEETING</h4>
        <img class="img"src="images/gocatch/meetingNed.jpg">
        <p class="blockPadding-20px">The all team met Ned Moorfield, goCatch co-founder in the goCatch offices. Ned introduced to us the company and set his requirements and expectations. During the meeting we defined the brief for our project and we agreed on the deliverable. (I am not in the picture because I took the photo:)</p>
      </div>
      <div class="col-sm-6 padding-lr-30">
        <h4>PLANNING</h4>
        <img class="img"src="images/gocatch/planning.jpg">
        <p class="blockPadding-20px">After the client meeting we created a project plan in order to organize the next weeks. As a team we also set our expectations and our individual development areas.</p>
      </div>
    </div>


    <!--IMG-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>EVALUATION OF CURRENT APPLICATION</h4>
        <p>In order to evaluate the current application the goCatch team provided us a test version of the app. In couples we pretended to be passenger and driver and we took snapshots of all the screens, we printed them out and we attached them on the wall in order to understand the passenger and driver interactions.</p>
        <img class="img"src="images/gocatch/walls.jpg">
      </div>
    </div>

    <!--IMG-->
    <div class="row">
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/analysis_flow.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/post-it.jpg">
      </div>
    </div>


    <!--TITLE-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>CONTEXTUAL INQUIRIES PREP</h4>
        <p>goCatch gave us the opportunity to conduct contextual inquiries, observing drivers and passengers using the application in their natural environment.  We wrote the scripts for the interviews and we role-played the scripts in order to test them.</p>
      </div>
    </div>

       <!--IMG-->
    <div class="row">
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/contextualInquiries4.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/contextualInquiries5.jpg">
      </div>
    </div>


      <!--TITLE-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>CONTEXTUAL INQUIRIES</h4>
        <p>During the contextual inquiries we divided into two groups. Every group had the chance to interview 3 drivers and one passenger. I have also conducted contextual inquiries on my own on another 3 goCatch drivers. After the interview we wrote the transcript and we filled a shared spreadsheet to collect the data.</p>
      </div>
    </div>

    <!--IMG-->
    <div class="row">
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/contextualInquiries2.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/contextualInquiries1.jpg">
      </div>
    </div>

           <!--IMG-->
    <div class="row">
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/alby.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/taxi.jpg">
      </div>
    </div>


    <!--TITLE-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>ANALYSIS OF THE USER FLOW</h4>
        <p>After the contextual inquiries we had a lot of information to share within the group and to collect. The team spent a few hours analysing the user flows on both the passenger and driver sides. Post-its of different colors were used to identify pain points, education opportunities and possible solutions.</p>
      </div>
    </div>

        <div class="row">
      <div class="col-sm-12 padding-lr-30">
        <img class="img"src="images/gocatch/userflow.jpg">
      </div>
    </div>

    <!--IMG-->
    <div class="row">
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/userflow2.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/userflow3.jpg">
      </div>
    </div>

    <!--EMPHATHY MAP-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>EMPHATHY MAP</h4>
        <p>Empathy map was an amazing exercise to stand in the users shoes. We mapped the experience of a woman in a rush that needed a cab ride away. For each of her actions we mapped her thinking, feeling, what she said and heard. At the end of the exercise we had a better understanding of passenger pain points.</p>
      </div>
    </div>

    <!--IMG-->
    <div class="row">
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/empathyMap1.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/empathyMap2.jpg">
      </div>
    </div>

        <!--IDEAL PATH-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>HAPPY PATH</h4>
        <p>The happy path or ideal path was the result of a team brainstorming and co-design exercise. We spent a few hours defining the ideal booking process for the passenger and the driver. We ended up with a vision: book a cab in one click (passenger side) and accept a job in one click (driver side).</p>
      </div>
    </div>

        <div class="row">
      <div class="col-sm-12 padding-lr-30">
        <img class="img"src="images/gocatch/happy-path.jpg">
      </div>
    </div>

      <!--SKETCHES-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>SKETCHES AND IDEAS GENERATION</h4>
        <p>Individually every member of the team sketched the screens for the happy path defined together. We also generated new screens and ideas to improve the services that goCatch offers to his users.</p>
      </div>
    </div>

            <div class="row">
      <div class="col-sm-12 padding-lr-30">
        <img class="img"src="images/gocatch/sketches_big.jpg">
      </div>
    </div>

        <!--IMAGES-->
    <div class="row">
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/sketches_wall.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/sketches_Sara.jpg">
      </div>
    </div>

        <!--SCENARIOS AND PAPER PROTOTYPE-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>SCENARIOS AND PAPER PROTOTYPE</h4>
        <p>I drew a storyboard for the driver Abdul, one of goCatch main personas in order to validate my screens sketches. The team reviewed everyone else’s sketches in order to organize the best solutions in one set of sketches for the driver and one for the passenger.</p>
      </div>
    </div>

        <!--IMAGES-->
    <div class="row">
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/scenario.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/paper-prototype.jpg">
      </div>
    </div>

        <!--USER INTERVIEWS-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>USER INTERVIEWS &amp; USABILITY TESTING</h4>
        <p>goCatch organized 6 interviews with passengers and new users. As a team we set the recruitment brief, we wrote the script for the interviews and we created some interactive prototypes. We tested the booking process for the current application, the passenger ideal path and our new ideas. </p>
      </div>
    </div>

        <!--IMAGES-->
    <div class="row">
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/interviews.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/interviews2.jpg">
      </div>
    </div>


      <!--THE VISION-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>THE VISION</h4>
        <p>The vision is the target that goCatch should aim for: an extremely simple application that allows passengers to book a cab in one screen (instead of 6) and that allows drivers to accept the jobs in one click (instead of 3).</p>
      </div>
    </div>

      <!--IMAGES-->
    <div class="row">
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/visionPassenger.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/visionDriver.jpg">
      </div>
    </div>

      <!--MAIN DELIVERABLES-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>ANALYSIS OF THE CURRENT STATUS - SCREEN BY SCREEN</h4>
        <p>The analysis of the current status of the goCatch app was included in the deliverable in the following format. We provided guidelines and general suggestions and a short guide to explain the document. For every screen we showed the competitor’s equivalent screens, our observations, findings from users interviews and behaviours and recommendations for improvements. </p>
      </div>
    </div>

      <!--IMAGES-->
    <div class="row">
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/guidelines.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/deliverable.jpg">
      </div>
    </div>

          <!--MAIN DELIVERABLES-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>RECOMMENDATIONS</h4>
        <p>As a team we recognized that the main pain points were related to three problem areas: barrier to enter, passenger wait time and call between the passenger and the driver. We provided wireframes of solutions to give goCatch a starting point to improve the user flow. </p>
      </div>
    </div>

      <!--IMAGES-->
    <div class="row">
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/recommendation1.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/recommendation2.jpg">
      </div>
    </div>

    <!--RESULTS-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-6 padding-lr-30">
        <h4>RESULTS</h4>
        <p>At the end of the project goCatch received all the following materials:</p>
        <ul>
          <li>competitor feature comparison</li>
          <li>screen by screen in depth analysis document</li>
          <li>recommendations and ideas document</li>
          <li>recommended next steps</li>
          <li>risk register</li>
          <li>contextual inquiry results</li>
          <li>interview questions</li>
          <li>raw interview results</li>
        </ul>
      </div>
      <div class="col-sm-6 padding-lr-30">
        <h4>STATS</h4>
        <p>At the end of the project we can share our stats:</p>
        <ul>
          <li>4 students</li>
          <li>76 hours</li>
          <li>8 passenger interviews</li>
          <li>6 driver interviews</li>
          <li>65 pages of deliverables</li>
          <li>2 presentations</li>
          <li>15 people attending the presentations</li>
        </ul>
      </div>
    </div>


        <!-- PRESENTATION -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <h4>PRESENTATION &AMP; STORYTELLING</h4>
        <p>In order to communicate our design effectively, during the presentation, every team member told a story about one of the users. My story was about "a multitasking driver".</p>
        <p>His quote was very inspiring: "I try to be concentrated on the street but it is hard to multitask while the phone ringing, goCatch is beeping and pedestrian are crossing the streets. It is very stressful. A friend of mine tried to work as taxi driver for a few weeks but then he quitted because it was too stressful."</p>
      </div>  
      <div class="col-sm-4 padding-lr-30 blockPadding-50-top">
        <p class="center"><a href="http://www.slideshare.net/SaraMichelazzo/go-catch-presentation" target="blank"><button type="button" class="btn btn-primary btn-lg">VIEW PRESENTATION</button></a></p>
      </div>  
    </div> 

   <!--END-->
    <div class="row blockPadding-50">
      <div class="col-sm-12 padding-lr-30">
    <h1 class="center"><span class="graytype">"In the office you can take a break but in a taxi you must be aware all the time."</span></h1>
      </div>
    </div>


 
 </div><!--container 910px-->
  </section>

    <!--navigaton-->
  <nav class="linkNavigation">
    <ul class="container linkNavigation-elements">
      <li class="linkNavigation-prev"><a href=""></a></li>
      <li class="linkNavigation-next"><a href="/linkedin">LinkedIn &gt;&gt;</a></li>
    </ul>
  </nav>