
<section id="section1" class="container">
  
  <div class="blockPadding-50-bottom">
    <h1 class="center"><span class="graytype">Work in progress</span></br>goCatch</h1>
    <h3 class="center">Review of the booking process</h3>
    <p class="center"><strong>TOPICS: </strong>User flows, Contextual inquiries, Empathy map</p>
  </div>

    <!-- project | role | duration -->
    <div class="row background-lg">
      <div class="col-sm-4 padding-lr-30">
        <h4>Product</h4>
        <p>Go Catch is a smartphone taxi booking application, targeted at both passengers and drivers across Australia. The application is distributed via the Apple store, via web downloads and in Blackberry World.</br>All though there are applications available for Android, Blackberry and Windows mobiles, we will be concentrating our efforts on the iPhone version of this application. </br>Version: iOS version 3.8.5 (in production).</p>


        <h4>Brief</h4>
        <p>GA team is conducting an end to end review of the booking process for both Passenger and Driver of the current GoCatch mobile application.</p>
      </div>
      
      <div class="col-sm-4 padding-lr-30">
        <h4>Client</h4>
         <p>GoCatch is the client for the student project for User Experience Design Immersive, General Assembly, Summer Sydney 2014</p>
        <h4>Duration</h4>
        <p>3 weeks</br>2/10-2/28 - ongoing</p>
        <h4>Team</h4>
        <p>Deepa Dhupalia</br>Michael Shai Hee</br>Sara Michelazzo</br>Suhasini Vempati</br></p>
        <h4>My Role</h4>
        <p>Evaluate the current application, mapping user flows, conduct contextual inquiries, create empathy map, sketches and wireframes to improve the booking process.</p>
      </div>

      <div class="col-sm-4 padding-lr-30">
        <h4>Tools</h4>
        <p>Camera, audio recorder, Excel, prints, sharpies &amp; paper.</p>
        <h4>Deliverables</h4>
        <p>A series of recommendations based on the current state taking into consideration complexity to identify quick wins, larger design changes and any items that may require structural changes. Ideas for future product enhancements that have been identified during the design phases. </p>

        <h4>Confidential</h4>
        <p>The images below show the UX methodologies applied during this project, the results are excluded from this portfolio because they are confidential.</p>
      </div>
    </div>


    <!--IMG-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>EVALUATION OF CURRENT APPLICATION</h4>
        <img class="img"src="images/gocatch/post-it.jpg">
      </div>
    </div>



    <!--IMG-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <img class="img"src="images/gocatch/walls.jpg">
      </div>
    </div>

    <!--TITLE-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>CONTEXTUAL INQUIRIES</h4>
      </div>
    </div>

    <!--IMG-->
    <div class="row">
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/contextualInquiries1.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/contextualInquiries2.jpg">
      </div>
    </div>

       <!--IMG-->
    <div class="row">
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/contextualInquiries3.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/contextualInquiries4.jpg">
      </div>
    </div>


    <!--TITLE-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>ANALYSIS OF THE USER FLOW</h4>
      </div>
    </div>

        <div class="row">
      <div class="col-sm-12 padding-lr-30">
        <img class="img"src="images/gocatch/userflow.jpg">
      </div>
    </div>

    <!--IMG-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/userflow2.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/userflow3.jpg">
      </div>
    </div>

   <!--IMG-->
    <div class="row blockPadding-50">
      <div class="col-sm-12 padding-lr-30">
    <h1 class="center"><span class="graytype">The results of this project are excluded from this portfolio because they are confidential.</span></h1>
      </div>
    </div>

  </section>

    <!--navigaton-->
  <nav class="linkNavigation">
    <ul class="container linkNavigation-elements">
      <li class="linkNavigation-prev"><a href=""></a></li>
      <li class="linkNavigation-next"><a href="/linkedin">LinkedIn &gt;&gt;</a></li>
    </ul>
  </nav>