
<section id="section1" class="container">
  
  <div class="blockPadding-50-bottom">
    <h1 class="center"><span class="graytype">Work in progress</span></br>goCatch</h1>
    <h3 class="center">Smartphone application that connects taxi drivers directly with passengers</h3>
    <p class="center"><strong>TOPICS: </strong>Usability testing, contextual inquiries, process optimization</p>
  </div>

    <!-- project | role | duration -->
    <div class="row background-lg">
      <div class="col-sm-4 padding-lr-30">
        <h4>Brief</h4>
        <p></p>
        <h4>Challenge</h4>
        <p></p>
      </div>
      
      <div class="col-sm-4 padding-lr-30">
        <h4>Client</h4>
         <p>Student project for User Experience Design Immersive, General Assembly, Summer Sydney 2014</p>
        <h4>Duration</h4>
        <p>3 weeks</p>
        <h4>Team</h4>
        <p>Deepa Dhupalia</br>Michael Shai Hee</br>Sara Michelazzo</br>Suhasini Vempati</br></p>
      </div>

      <div class="col-sm-4 padding-lr-30">
        <h4>My Role</h4>
        <p>Evaluate the current application mapping user flows, conducting usabilty testing anc collecting results and iterate design in order to improve the users flows.</p>
        <h4>Tools</h4>
        <p>Excel, prints, sharpies &amp; paper.</p>
      </div>
    </div>

    <!--IMG-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>EVALUATION OF CURRENT APPLICATION</h4>
        <img class="img"src="images/gocatch/post-it.jpg">
      </div>
    </div>



    <!--IMG-->
    <div class="row blockPadding-50">
      <div class="col-sm-12 padding-lr-30">
        <img class="img"src="images/gocatch/walls.jpg">
      </div>
    </div>


  </section>

    <!--navigaton-->
  <nav class="linkNavigation">
    <ul class="container linkNavigation-elements">
      <li class="linkNavigation-prev"><a href=""></a></li>
      <li class="linkNavigation-next"><a href="/linkedin">LinkedIn >></a></li>
    </ul>
  </nav>