
<section id="section1" class="container">
  
  <div class="blockPadding-50-bottom">
    <h1 class="center">goCatch</h1>
    <h3 class="center">Review of the booking process</h3>
    <p class="center"><strong>TOPICS: </strong>User research, Contextual Inquiries, Interviews, Empathy mapping</p>
  </div>

    <!-- project | role | duration -->
    <div class="row background-lg">
      <div class="col-sm-4 padding-lr-30">

        <h4>Brief</h4>
        <p>GA team is conducting an end to end review of the booking process for both Passenger and Driver of the current GoCatch mobile application.</p>
        <h4>Client</h4>
         <p>GoCatch is the client for the student project for User Experience Design Immersive, General Assembly, Summer Sydney 2014</p>
      </div>
      
      <div class="col-sm-4 padding-lr-30">

        <h4>Duration</h4>
        <p>3 weeks</br>2/10-2/28</p>
        <h4>Team</h4>
        <p>Deepa Dhupalia</br>Michael Shai Hee</br>Sara Michelazzo</br>Suhasini Vempati</br></p>
      </div>

      <div class="col-sm-4 padding-lr-30">
        <h4>My Role</h4>
        <p>Evaluate the current application, mapping user flows, conduct contextual inquiries, conduct interviews, create empathy map, sketch new ideas and storyboards, define the vison, assemble the deliverable.</p>
        <h4>Tools</h4>
        <p>Omnigraffle, POP App, Camera, audio recorder, Excel, prints, sharpies &amp; paper.</p>

      </div>
    </div>

 <!--container 910px-->
 <div class="containter910px">

    <!--IMG-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <h4>Product</h4>
        <p>Go Catch is a smartphone taxi booking application, targeted at both passengers and drivers across Australia. The application is distributed via the Apple store, via web downloads and in Blackberry World.</br>All though there are applications available for Android, Blackberry and Windows mobiles, we will be concentrating our efforts on the iPhone version of this application. </br>Version: iOS version 3.8.5 (in production).</p>
      </div>
    </div>

    <!--IMG-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-6 padding-lr-30">
        <h4>KICK OFF MEETING</h4>
        <img class="img"src="images/gocatch/meetingNed.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <h4>PLANNING</h4>
        <img class="img"src="images/gocatch/planning.jpg">
      </div>
    </div>


    <!--IMG-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>EVALUATION OF CURRENT APPLICATION</h4>
        <img class="img"src="images/gocatch/walls.jpg">
      </div>
    </div>

    <!--IMG-->
    <div class="row">
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/analysis_flow.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/post-it.jpg">
      </div>
    </div>


    <!--TITLE-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>CONTEXTUAL INQUIRIES PREP</h4>
      </div>
    </div>

       <!--IMG-->
    <div class="row">
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/contextualInquiries4.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/contextualInquiries5.jpg">
      </div>
    </div>


      <!--TITLE-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>CONTEXTUAL INQUIRIES</h4>
      </div>
    </div>

    <!--IMG-->
    <div class="row">
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/contextualInquiries2.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/contextualInquiries1.jpg">
      </div>
    </div>

           <!--IMG-->
    <div class="row">
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/alby.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/taxi.jpg">
      </div>
    </div>


    <!--TITLE-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>ANALYSIS OF THE USER FLOW</h4>
      </div>
    </div>

        <div class="row">
      <div class="col-sm-12 padding-lr-30">
        <img class="img"src="images/gocatch/userflow.jpg">
      </div>
    </div>

    <!--IMG-->
    <div class="row">
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/userflow2.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/userflow3.jpg">
      </div>
    </div>

    <!--EMPHATHY MAP-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>EMPHATHY MAP</h4>
      </div>
    </div>

    <!--IMG-->
    <div class="row">
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/empathyMap1.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/empathyMap2.jpg">
      </div>
    </div>

        <!--IDEAL PATH-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>HAPPY PATH</h4>
      </div>
    </div>

        <div class="row">
      <div class="col-sm-12 padding-lr-30">
        <img class="img"src="images/gocatch/happy-path.jpg">
      </div>
    </div>

      <!--SKETCHES-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>SKETCHES AND IDEAS GENERATION</h4>
      </div>
    </div>

            <div class="row">
      <div class="col-sm-12 padding-lr-30">
        <img class="img"src="images/gocatch/sketches_big.jpg">
      </div>
    </div>

        <!--IMAGES-->
    <div class="row">
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/sketches_wall.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/sketches_sara.jpg">
      </div>
    </div>

        <!--SCENARIOS AND PAPER PROTOTYPE-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>SCENARIOS AND PAPER PROTOTYPE</h4>
      </div>
    </div>

        <!--IMAGES-->
    <div class="row">
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/scenario.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/paper-prototype.jpg">
      </div>
    </div>

        <!--USER INTERVIEWS-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>USER INTERVIEWS &amp; USABILITY TESTING</h4>
      </div>
    </div>

        <!--IMAGES-->
    <div class="row">
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/interviews.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/interviews2.jpg">
      </div>
    </div>


      <!--THE VISION-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>THE VISION</h4>
      </div>
    </div>

      <!--IMAGES-->
    <div class="row">
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/visionPassenger.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/visionDriver.jpg">
      </div>
    </div>

      <!--MAIN DELIVERABLES-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>ANALYSIS OF THE CURRENT STATUS - SCREEN BY SCREEN</h4>
      </div>
    </div>

      <!--IMAGES-->
    <div class="row">
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/guidelines.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/deliverable.jpg">
      </div>
    </div>

          <!--MAIN DELIVERABLES-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>RECOMMENDATIONS</h4>
      </div>
    </div>

      <!--IMAGES-->
    <div class="row">
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/recommendation1.jpg">
      </div>
      <div class="col-sm-6 padding-lr-30">
        <img class="img"src="images/gocatch/recommendation2.jpg">
      </div>
    </div>

    <!--RESULTS-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-6 padding-lr-30">
        <h4>RESULTS</h4>
        <p>At the end of the project goCatch received all the following materials:</p>
        <ul>
          <li>competitor feature comparison</li>
          <li>screen by screen in depth analysis document</li>
          <li>recommendations and ideas document</li>
          <li>recommended next steps</li>
          <li>risk register</li>
          <li>contextual inquiry results</li>
          <li>interview questions</li>
          <li>raw interview results</li>
        </ul>
      </div>
      <div class="col-sm-6 padding-lr-30">
        <h4>STATS</h4>
        <p>At the end of the project we can share our stats:</p>
        <ul>
          <li>4 students</li>
          <li>76 hours</li>
          <li>8 passenger interviews</li>
          <li>6 driver interviews</li>
          <li>65 pages of deliverable</li>
          <li>2 presentations</li>
          <li>15 people attending the presentations</li>
        </ul>
      </div>
    </div>


        <!-- PRESENTATION -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <h4>PRESENTATION &AMP; STORYTELLING</h4>
        <p>In order to communicate our design effectively, during the presentation, we have every team member told a story about one of the user. My story was about " a multitasking driver".</p>
        <p>"I try to be concentrated on the street but it is hard to multitask while:  the phone ringing, checking calls, goCatch beeping, pedestrian crossing, traffic lights. It is very stressful. A friend of him tried for a few weeks but then he quitted because it was too stressful. "</p>
      </div>  
      <div class="col-sm-4 padding-lr-30 blockPadding-50-top">
        <p class="center"><a href="http://www.slideshare.net/SaraMichelazzo/go-catch-presentation" target="blank"><button type="button" class="btn btn-primary btn-lg">VIEW PRESENTATION</button></a></p>
      </div>  
    </div> 

   <!--END-->
    <div class="row blockPadding-50">
      <div class="col-sm-12 padding-lr-30">
    <h1 class="center"><span class="graytype">"In the office you can take a break but in a taxi you must be aware all the time"</span></h1>
      </div>
    </div>


 
 </div><!--container 910px-->
  </section>

    <!--navigaton-->
  <nav class="linkNavigation">
    <ul class="container linkNavigation-elements">
      <li class="linkNavigation-prev"><a href=""></a></li>
      <li class="linkNavigation-next"><a href="/linkedin">LinkedIn &gt;&gt;</a></li>
    </ul>
  </nav>