<style type="text/css">
#navigationMenu {
    display: none;
}
</style>

<div class="animate-container">
    <div class="animate-block slide-block" data-parallax-0="position: fixed; zIndex: 0" data-parallax-50="background: lightcoral" style="background-color: grey;">
        <h1 class="slide-text">First</h1>
    </div>
    <div class="animate-block slide-block" style="z-index: 1; background-color:lightblue;">
        <h1 class="slide-text">Second</h1>
    </div>
    <div class="animate-block slide-block" data-parallax-100="position: fixed; zIndex: 0; top: 0" style="background-color: lightcoral;">
        <h1 class="slide-text">Third</h1>
    </div>
    <div class="animate-block slide-block" style="background-color: lightblue;">
        <h1 class="slide-text">Forth</h1>
    </div>
</div>

<!-- leave it-->
<% if @js %>
    <% @js.each do |script| %>
        <%= "<script src='/js/#{script}.js'></script>" %>
    <% end %>
<% end %>
