
    <!--OLD Home-->
    <section id="section1" class="section">
    	<h1 class="h1-best-works">My best works</h1>
      <!--work1-->
      <div class=" work-1 blockPadding-50-top"> 
        <div class="container">
          <div class="row">
            <div class="col-sm-5">
              <h2>Solair PLM</h2>
              <h3>UX Strategy for a complex web appication tool</h3>
              <p class="smaller"><strong>TOPICS: </strong>Personas, Interaction Design, Prototyping,Visual Design</p>
              <a href="SolairPlmUX"><button type="button" class="btn btn-primary btn-lg">Read in 4 minutes</button></a>
            </div>
            <div class="col-sm-7">
              <img src="images/work1.png" alt="sara michelazzo logo" class="bottom-5"/>
            </div>
          </div>
        </div>
      </div>
        <div class="bottom-work-1">
        </div>
      <!--work2-->
      <div class=" work-2 blockPadding-50-top"> 
        <div class="container">
          <div class="row">
            <div class="col-sm-5">
              <h2>Solair PLM</h2>
              <h3>UX Strategy for a complex web appication tool</h3>
              <p class="smaller"><strong>TOPICS: </strong>Personas, Interaction Design, Prototyping,Visual Design</p>
              <a href="SolairPlmUX"><button type="button" class="btn btn-primary btn-lg">Read in 4 minutes</button></a>
            </div>
            <div class="col-sm-7">
              <img src="images/work1.png" alt="sara michelazzo logo" class="bottom-5"/>
            </div>
          </div>
        </div>
      </div>

    </section>

      <!--NEW home --->
    <section id="section1" class="section">
      <div class="container">
          <h1 class="h1-best-works blockPadding-50">My best works</h1>
        <!--first row-->
        <div class="row">
          <div class="col-md-6">
              <img src="images/work1.png" alt="sara michelazzo logo" />
              <h2>Solair PLM</h2>
              <h3>UX Strategy</h3>
              <p class="smaller"><strong>TOPICS: </strong>Personas, Interaction Design, Prototyping,Visual Design</p>
          </div>
          <div class="col-md-6">
               <img src="images/work1.png" alt="sara michelazzo logo" />
               <h2>Solair PLM</h2>
              <h3>UX Strategy</h3>
              <p class="smaller"><strong>TOPICS: </strong>Personas, Interaction Design, Prototyping,Visual Design</p>
          </div>
        <div>
      </div>
    </section> 