<section class='blockPadding-50-top container'>
  <h1 class="h1-best-works">My best works</h1>
  
  <div class="row">

    <div class="col-md-4 blockMargin-small-bottom ">
      <a class="mediaObject" href="#">
        <div class="mediaObject-imgContainer">
          <img class="mediaObject-img" src="images/work1.png" alt="">
        </div>
        <div class="mediaObject-text">
          <h2>Solair PLM</h2>
          <h3>UX Strategy</h3>
          <p class="smaller"><strong>TOPICS: </strong>Personas, Interaction Design, Prototyping,Visual Design</p>
        </div>
      </a>
    </div>

    <div class="col-md-4 blockMargin-small-bottom">
      <a class="mediaObject" href="#">
        <div class="mediaObject-imgContainer">
          <img class="mediaObject-img" src="images/work1.png" alt="">
        </div>
        <div class="mediaObject-text">
          <h2>Solair PLM</h2>
          <h3>UX Strategy</h3>
          <p class="smaller"><strong>TOPICS: </strong>Personas, Interaction Design, Prototyping,Visual Design</p>
        </div>
      </a>
    </div>

    <div class="col-md-4 blockMargin-small-bottom">
      <a class="mediaObject" href="#">
        <div class="mediaObject-imgContainer">
          <img class="mediaObject-img" src="images/work1.png" alt="">
        </div>
        <div class="mediaObject-text">
          <h2>Solair PLM</h2>
          <h3>UX Strategy</h3>
          <p class="smaller"><strong>TOPICS: </strong>Personas, Interaction Design, Prototyping,Visual Design</p>
        </div>
      </a>
    </div>

    <div class="col-md-4 blockMargin-small-bottom">
      <a class="mediaObject" href="#">
        <div class="mediaObject-imgContainer">
          <img class="mediaObject-img" src="images/work1.png" alt="">
        </div>
        <div class="mediaObject-text">
          <h2>Solair PLM</h2>
          <h3>UX Strategy</h3>
          <p class="smaller"><strong>TOPICS: </strong>Personas, Interaction Design, Prototyping,Visual Design</p>
        </div>
      </a>
    </div>

    <div class="col-md-4 blockMargin-small-bottom">
      <a class="mediaObject" href="#">
        <div class="mediaObject-imgContainer">
          <img class="mediaObject-img" src="images/work1.png" alt="">
        </div>
        <div class="mediaObject-text">
          <h2>Solair PLM</h2>
          <h3>UX Strategy</h3>
          <p class="smaller"><strong>TOPICS: </strong>Personas, Interaction Design, Prototyping,Visual Design</p>
        </div>
      </a>
    </div>

    <div class="col-md-4 blockMargin-small-bottom">
      <a class="mediaObject" href="#">
        <div class="mediaObject-imgContainer">
          <img class="mediaObject-img" src="images/work1.png" alt="">
        </div>
        <div class="mediaObject-text">
          <h2>Solair PLM</h2>
          <h3>UX Strategy</h3>
          <p class="smaller"><strong>TOPICS: </strong>Personas, Interaction Design, Prototyping,Visual Design</p>
        </div>
      </a>
    </div>

  </div>


</section>