<% if @js %>
    <% @js.each do |script| %>
        <%= "<script src='/js/#{script}.js'></script>" %>
    <% end %>
<% end %>

<div class="slide-block">
    <img class="slide-img-full" src="http://1.bp.blogspot.com/-KGsIBcrCVEo/T1f_6lZF_jI/AAAAAAAAASQ/5gY-UMWf7h8/s1600/Townsvile+-+aerial+-+034421.jpg" alt=""/>
</div>

<div class="slide-block">
    <h2 class="slide-text">I help teams to craft great experiences</h2>
</div>

<div class="slide-block">
    <img class="slide-img-full" src="http://1.bp.blogspot.com/-KGsIBcrCVEo/T1f_6lZF_jI/AAAAAAAAASQ/5gY-UMWf7h8/s1600/Townsvile+-+aerial+-+034421.jpg" alt=""/>
</div>

<div class="slide-block">
    <h2 class="slide-text">A good product is as team journey.</h2>
</div>

<div class="slide-block">
    <img class="slide-img-full" src="http://1.bp.blogspot.com/-KGsIBcrCVEo/T1f_6lZF_jI/AAAAAAAAASQ/5gY-UMWf7h8/s1600/Townsvile+-+aerial+-+034421.jpg" alt=""/>
</div>

<div class="slide-block">
    <h2 class="slide-text">Here what I have learn along the way</h2>
</div>

<div class="slide-block">
    <img class="slide-img-full" src="http://1.bp.blogspot.com/-KGsIBcrCVEo/T1f_6lZF_jI/AAAAAAAAASQ/5gY-UMWf7h8/s1600/Townsvile+-+aerial+-+034421.jpg" alt=""/>
</div>

<div class="slide-block">
    <h2 class="slide-text">You must be a recruiter</h2>
</div>