<style type="text/css">
    #navigationMenu {
        display: none;
    }
</style>

<div class="dcss slides" data-dcss-100="height: 600vh">
    <div class="dcss slide-block" style="position: fixed; zIndex: 0">
        <h2 class="slide-text">Hi there, I am a user experience designer</h2>
        <img class="slide-img-full" src="/images/index/sara_UX_toolbox.jpg" alt="Sara Michelazzo at a white table with sketches, wireframes and paper prototypes for Safety Culture products "/>
        <div class="arrow-center">
            <i class='arrow-center-icon up'></i>
        </div>
    </div>

    <div class="dcss slide-block container background-lg" style="z-index: 2">
        <div class="container">
            <!-- grid 2 colums-->
            <div class="row-fluid blockPadding-50-top">
                <div class="col-md-8 padding-lr-30">
                    <iframe class="img" src="//player.vimeo.com/video/99625338?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="338" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <div class="col-md-4 padding-lr-30 hidden-xs hidden-sm">
                    <h4>I help teams to create great experiences.</h4>
                    <p>I work as UX Desigenr at <a href="http://www.safetyculture.io">SafetyCulture</a>. We make apps for safety. I have the honor to work with designers, developers, maketers, support, executives and users. They teach me something new every day. We bounce ideas and we work hard to make good experiences happen.</p>
                    <p><strong>Check the video to understanf the app jouney,</strong></p>
                </div>
            </div>
        </div>
    </div>

    <div class="dcss slide-block" data-dcss-100="position: fixed; zIndex: 1; top: 0" data-dcss-200="position: absolute; top: 200vh">
        <img class="slide-img-full" src="/images/index/saramichelazzo_uxdesigner.jpg" alt="Sara Michelazzo at a white table with sketches, wireframes and paper prototypes for Safety Culture products "/>
    </div>

    <div class="slide-block slide-block-autoHeight background-lg hidden-xs hidden-sm">
        <h2>This is how I do it</h2>
        <!-- photos row 1-->
        <div class="clearfix slide-block-animate-top dcss" data-dcss-200='position: relative; top: 100px' data-dcss-230='top: 0px'>
            <div class="textImage textImage-noResize textImage-20 textImage-images">
                <img src="images/about/saramichelazzopanelist_sq.jpg" class="img-about" alt="">
            </div>
            <div class="textImage textImage-noResize textImage-20 textImage-images">
                <img src="images/about/saramichelazzopostit.jpg" class="img-about" alt="">
            </div>
            <div class="textImage textImage-noResize textImage-20 textImage-images">
                <img src="images/about/saramichelazzopanelist_sq.jpg" class="img-about" alt="">
            </div>
            <div class="textImage textImage-noResize textImage-20 textImage-images">
                <img src="images/about/saramichelazzopostit.jpg" class="img-about" alt="">
            </div>
            <div class="textImage textImage-noResize textImage-20 textImage-images">
                <img src="images/about/saramichelazzopostit.jpg" class="img-about" alt="">
            </div>
        </div>
        <!-- photos row 2-->
        <div class="clearfix slide-block-animate-top dcss" data-dcss-200='position: relative; top: 100px' data-dcss-270='top: 0px'>
            <div class="textImage textImage-noResize textImage-20 textImage-images">
                <img src="images/about/saramichelazzopanelist_sq.jpg" class="img-about" alt="">
            </div>
            <div class="textImage textImage-noResize textImage-20 textImage-images">
                <img src="images/about/saramichelazzopostit.jpg" class="img-about" alt="">
            </div>
            <div class="textImage textImage-noResize textImage-20 textImage-images">
                <img src="images/about/saramichelazzopanelist_sq.jpg" class="img-about" alt="">
            </div>
            <div class="textImage textImage-noResize textImage-20 textImage-images">
                <img src="images/about/saramichelazzopostit.jpg" class="img-about" alt="">
            </div>
            <div class="textImage textImage-noResize textImage-20 textImage-images">
                <img src="images/about/saramichelazzopostit.jpg" class="img-about" alt="">
            </div>
        </div>
        <!-- photos row 3-->
        <div class="clearfix slide-block-animate-top dcss" data-dcss-200='position: relative; top: 100px' data-dcss-300='top: 0px'>
            <div class="textImage textImage-noResize textImage-25 ">
                <img src="images/about/saramichelazzopanelist_sq.jpg" class="img-about" alt="">
            </div>
            <div class="textImage textImage-noResize textImage-25 ">
                <img src="images/about/saramichelazzopostit.jpg" class="img-about" alt="">
            </div>
            <div class="textImage textImage-noResize textImage-25 ">
                <img src="images/about/saramichelazzopanelist_sq.jpg" class="img-about" alt="">
            </div>
            <div class="textImage textImage-noResize textImage-25 ">
                <img src="images/about/saramichelazzopostit.jpg" class="img-about" alt="">
            </div>
        </div>
    </div>

    <div class="slide-block container-fluid background-lg lightBackground hidden-xs hidden-sm">
      <div id="carousel" class="carousel slide container">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">

          <div class="item active">
            <div class="row-fluid blockPadding-50-top">
                <div class="col-sm-6 padding-lr-30">
                    <img src="images/index/saramichelazzo_book.png">
                </div>
                <div class="col-sm-5 padding-lr-30">
                    <p>This is what I have learnt along the way...</p>
                    <h4 class="text-book-title">Everyone is a UX Designer</h4>
                    <p class="text-book-text">Taking pictures doesn’t make you a photographer. Drawing doesn’t make you an artist. Running doesn’t make you an athlets. </p>
                    <p class="text-book-text">The difference is not in the action performed but in the process to get there and in the quality of the result.</p>
                    <p><strong>keep reading</strong></p>
                </div>
            </div>
          </div>

          <div class="item">
            <div class="row-fluid blockPadding-50-top">
                <div class="col-sm-6 padding-lr-30">
                    <img src="images/index/saramichelazzo_book.png">
                </div>
                <div class="col-sm-5 padding-lr-30">
                    <p>This is what I have learnt along the way...</p>
                    <h4 class="text-book-title">Everyone is a UX Designer</h4>
                    <p class="text-book-text">Taking pictures doesn’t make you a photographer. Drawing doesn’t make you an artist. Running doesn’t make you an athlets. </p>
                    <p class="text-book-text">The difference is not in the action performed but in the process to get there and in the quality of the result.</p>
                    <p><strong>keep reading</strong></p>
                </div>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>


    <!-- Let's talk about you. You must be...-->
    <div class="slide-block container-fluid background-lg">
      <div class="container">
        <!-- grid 3 colums-->
        <div class="row-fluid blockPadding-50-top">
            <h2 class='center'>Let's talk about you. You must be...</h2>
            <div class="col-sm-4 padding-lr-30">
                <h4>A recruiter</h4>
                <p>I am not looking for work, I am happily working at
                    SafetyCulture. I know many graduate designer that are looking for great opportunities..
                </p>
                <img src="images/index/recruiter.png">
            </div>
            <div class="col-sm-4 padding-lr-30">
                <h4>A designer</h4>
                <p>Hi, if you are for insiration I hope you can find some. If you feel I can help you somehow drop me a line.</p>
                <img src="images/index/designer.png">
            </div>
            <div class="col-sm-4 padding-lr-30">
                <h4>My mum</h4>
                <p>Are you still trying to understand what I do for living? <br>I love you mum. Thanks for teaching what caring means... I use it in my job a lot!</p>
                <img src="images/index/mum.png">
            </div>
        </div>
      </div>
    </div>

    <div class="slide-block">
        <a class="center fancyButton fancyButton-center fancyButton-marginTop" href="https://twitter.com/SaraMichelazzo">Follow me</a>
        <div class="dcss slide-block-animate-left" style='position: relative; left: -50%' data-dcss-550='left: 0'>
          <img src="images/index/twitter.png" style="height: 100%; left: 100%; z-index:30">
        </div>
        <img class="slide-img-full" src="/images/index/sky.jpg" alt="beautuful sky image">
        <div class="internalFooter transparentBackground container">
          <div class="row">

            <div class="internalFooter-col">
              <h4 class='center'>Contact Me</h4>
              <a href='mailto: hello@saramichelazzo.com' class='internalFooter-link'>hello@saramichelazzo.com</a>
              <a href='tel: +61449042719' class='internalFooter-link'>(+61) 449 042 719</a>
            </div>

            <div class="internalFooter-col">
              <h4 class='center'>Connect With Me</h4>
              <a class='internalFooter-link' href="https://twitter.com/SaraMichelazzo">Twitter</a>
              <a class='internalFooter-link' href="https://www.linkedin.com/in/saramichelazzo">LinkedIn</a>
              <a class='internalFooter-link' href="https://www.behance.net/saramichelazzo">Behance</a>
              <a class='internalFooter-link' href="https://vimeo.com/saramichelazzo">Vimeo</a>
              <a class='internalFooter-link' href="https://github.com/SaraMichelazzo">Github</i></a>
              <a class='internalFooter-link' href="http://www.slideshare.net/SaraMichelazzo">SlideShare</a>
            </div>

            <div class="internalFooter-col">
              <h4 class='center'>Featured by</h4>
              <a class='internalFooter-link' href="https://twitter.com/SaraMichelazzo">General Assembly</a>
              <a class='internalFooter-link' href="https://twitter.com/SaraMichelazzo">SlideShare via Pinterest</a>
            </div>

            <div class="internalFooter-col">
              <h4 class='center'>My GA portfolio</h4>
            </div>

          </div>
        </div>
    </div>

</div>

<!-- leave it-->
<% if @js %>
    <% @js.each do |script| %>
        <%= "<script src='/js/#{script}.js'></script>" %>
    <% end %>
<% end %>
