
      <section id="section1" class="section">
        <div class="container blockPadding-50-bottom">
         <h1 class="center">Jamping James</h1>
         <h3 class="center">Mobile Application</h3>
         <p class="center"><strong>TOPICS: </strong>Needfinding, Scenarios, Rapid Prototyping (POP)</p>
        </div>

<!-- project | role | duration -->
        <div class="row background-lg">
          <div class="col-sm-4 padding-lr-30">
            <h4>Project Brief</h4>
            <p>Quiz someone about their interests, and find a problem that could be solved with the design of a simple mobile app. Working with your
partner, you’ll design apps for each other which solve the problem simply and effectively.</p>
          </div>
          <div class="col-sm-4 padding-lr-30">

            <h4>Client</h4>
            <p>Student project for User Experience Design Immersive, General Assembly, Summer Sydney 2014</p>
            <h4>Duration</h4>
            <p>1 weeks</p>
          </div>
          <div class="col-sm-4 padding-lr-30">
            <h4>Tools</h4>
            <p>POP App, pencils and paper.</p>
          </div>
        </div>

      <!-- STATEMENT OF THE PROBLEM AND SOLUTION -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-8 padding-lr-30">
            <h4>STATEMENT OF THE PROBLEM</h4>
            <p>James enjoys cooking and he wish he was a better cook but he hasn’t  too much time to invest in it. He likes to go to the market, to make up recipes and to look for recipes online but he usually cooks the same 5 basic recipes. When he cooks, he has the habit to modify recipes on the fly without keeping track of changes. This makes really hard to reproduce the same recipes after a while.</p>    
            <h4>SOLUTION</h4>
            <p>In the quick couple of days we had to research, test and draft prototypes - I resulted with an app that is premised on making James a better cook, helping him to remember successful alterations to recipes, building his own recipes collection and giving him inspiration, in order to be able to reproduce successfully the recipes he likes and to add more variety to his repertoire.</p>  
          </div>
        </div>

      <!--NEEDFIDING-->
        <div class="row blockPadding-50-top">
          <div class="col-sm-8 padding-lr-30">
             <h4>NEEDFINDING</h4>
             <p>The first step of the porject was about focusing on the problems. Needfining included: get ready for the interview, conducting the interview, recording and taking notes, go throught all the materials all over again.</p>
          </div>
        </div>  

      <!--IMG-->
        <div class="row blockPadding-50-top">
          <div class="col-sm-12 padding-lr-30">
            <img class="img"src="images/iphoneapp/needfining.jpg">
          </div>
        </div>

       <!--KEY FINDINGS-->
        <div class="row blockPadding-50-top">
          <div class="col-sm-8 padding-lr-30">
             <h4>KEY FINDINGS</h4>
             <p>James <strong>enjoys cooking</strong>, he used to cook every da, sometimes even complex recipes, before he got married 9 months ago. Now <strong>he cooks 2/3 times a month</strong> because his wife is an amazing cook, she cooks very traditional Chinese food following her mum’s recipes. During the weekend sometimes they cook together and everyone makes his own dish.</br>
            <strong>James tends to prepare basic meals, usually the same 5/6 recipes. Sometimes he looks for recipes online</strong> and he makes his choice based on the picture and on the ingredients. </br>
            He used <strong>to alter recipes to follow his taste</strong> and his wife taste (she doesn’t like spicy food) but he doesn’t keep track of the alterations. The consequence is that <strong>he gets frustrated because recipes don’t taste the same every time.</strong>
            </p>
          </div>
        </div>

        <!-- QUOTES -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-4 padding-lr-30">
            <p>"When the results are not as I expected I get a bit frustrated."</p>
          </div>
          <div class="col-sm-4 padding-lr-30">
            <p>James has a little problem I can fix with an app.</p>
          </div>
        </div>

        <!-- QUOTES -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-4 padding-lr-30">
            <p>"I look for recipes online and I make my choice based on the pictures and on the ingredients."</p>
          </div>
          <div class="col-sm-4 padding-lr-30">
            <p>James is used to browse the web for recipes </p>
          </div>
        </div>

        <!-- QUOTES -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-4 padding-lr-30">
            <p>"During the downtimes while cooking I read news on my iPhone. "</p>
          </div>
          <div class="col-sm-4 padding-lr-30">
            <p>James has an iPhone and he uses it while cooking!</p>
          </div>
        </div>

        <!-- QUOTES -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-4 padding-lr-30">
            <p>"I am willing to learn because I really enjoy the process."</p>
          </div>
          <div class="col-sm-4 padding-lr-30">
            <p>James wants to improve so he will be willing to invest a bit to become a better cook!</p>
          </div>
        </div>

        <!--GOALS-->
        <div class="row blockPadding-50-top">
          <div class="col-sm-8 padding-lr-30">
             <h4>GOALS</h4>
             <ul>
              <li>To help James to rembember successful alterations to recipes.</li>
              <li>To collect successful recipes in order to add more variety.</li>
             </ul>
          </div>
        </div>
       
        <!--IMG-->
        <div class="row blockPadding-50-top">
          <div class="col-sm-12 padding-lr-30">
            <img class="img"src="images/iphoneapp/2-goals.jpg">
          </div>
        </div>      

        <!-- BRAINSTORMING & USER FLOWS -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-4 padding-lr-30">
            <img class="img"src="images/iphoneapp/brainstorming.jpg">
          </div>
          <div class="col-sm-2 padding-lr-30">
            <h4>BRAINSTORMING</h4>
            <p>Brainstorming helps me to <strong>clean my brain</strong> from all ideas I had interviewing James writing them on paper. So I can forget about them while analyzing James needs and <strong>take them out later in the process where they are not anymore a threat but a resource.</strong></p>
          </div>
          <div class="col-sm-4 padding-lr-30">
            <img class="img"src="images/iphoneapp/userflow.jpg">
          </div>
          <div class="col-sm-2 padding-lr-30">
            <h4>USER FLOW</h4>
            <p>Sketching the user flows helps me to define the main flow like <strong>the whole process,the decision points and the interaction with external resources.</strong></p>
          </div>
        </div>

        <!--SCENARIOS-->
        <div class="row blockPadding-50-top">
          <div class="col-sm-12 padding-lr-30">
            <h4>SCENARIOS</h4>
            <p> I have sketched some scenarios and I have validated them with James. Every scenario leaded me to very interesting features driven by the user need.</p>
          </div>
        </div> 

        <!-- SCENARIO 1 -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-4 padding-lr-30">
            <img class="img"src="images/iphoneapp/">
          </div>
          <div class="col-sm-2 padding-lr-30">
            <h4>FIRST SCENARIO</h4>
            <p><strong>Very frequent</strong></p>
            <p>James goes to the market, then he makes up a recipe. He usually takes a picture if the dish looks good. After he eats if the recipes was good he may be willing to insert it in the app</p>
          </div>
          <div class="col-sm-4 padding-lr-30">
            <img class="img"src="images/iphoneapp/">
          </div>
          <div class="col-sm-2 padding-lr-30">
            <h4>KEY FINDING</h4>
            <p>Cooking can be messy, this is why it would be nice if all the information could <strong>fit in one page, so there is no need to scroll.</strong> Also the <strong>iPhone shouldn’t turn the screen light off while in the recipe page.</strong></p>
          </div>
        </div>


        <!-- SCENARIO 2 -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-4 padding-lr-30">
            <img class="img"src="images/iphoneapp/">
          </div>
          <div class="col-sm-2 padding-lr-30">
            <h4>SECOND SCENARIO</h4>
            <p><strong>Frequent</strong></p>
            <p>James wants to cook a recipe he made a few months ago. He doesn’t remember the ingredients and he looks them up on the app. He decides to slightly modify the recipe that actually tastes better this way.</p>
          </div>
          <div class="col-sm-4 padding-lr-30">
            <img class="img"src="images/iphoneapp/">
          </div>
          <div class="col-sm-2 padding-lr-30">
            <h4>KEY FINDING</h4>
            <p>James likes to alter recipes. Because usually the changes are small  it would be good to have a <strong>clone/duplicate  button.</strong> So he doesn’t have to fill the new recipe form from scratch and he saves time.</p>
          </div>
        </div>

       <!-- SCENARIO 3 -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-4 padding-lr-30">
            <img class="img"src="images/iphoneapp/">
          </div>
          <div class="col-sm-2 padding-lr-30">
            <h4>SECOND SCENARIO</h4>
            <p><strong>Less frequent</strong></p>
            <p>James likes to find <strong>new recipes online using his desktop </strong>because he feels more comfortable with a bigger screen. When doing so he needs a tool that from his desktop sync with his phone sending  links, notes and pictures.</p>
          </div>
          <div class="col-sm-4 padding-lr-30">
            <img class="img"src="images/iphoneapp/">
          </div>
          <div class="col-sm-2 padding-lr-30">
            <h4>KEY FINDING</h4>
            <p>Here a very rough sketch of how the desktop interface could be. The basic features are:</p>
              <ul>
                <li>Send a link</li>
                <li>Send notes</li>
                <li>Select a picture from that url</li>
              </ul>
          </div>
        </div>


        <!-- SKETCHES -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-12 padding-lr-30">
            <h4>SKETCHES</h4>
            <p>This map helps to understand how to navigate the website and where there are shortcuts to reach one or more pages.</p>
          </div>
        </div>

        <!-- USABILITY TESTING -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-8 padding-lr-30">
            <h4>USABILITY TESTING</h4>
            <p>The prototype has been tested on 3 people thorough a Gorilla testing.</p>
            <p><strong>Pain points:</strong></p>
                <ul>
                 <li>We expect picture to zoom.. but user expected to go to details pagedropdown menu and filter (colors, prices)</li>
                 <li>One user would have saved his profile if it didn't include credit card</li>
                 <li>User went to sales button to find polo shirt rather than top navigation bar.</li>
                 <li>2/3 users could not find the alternative views (eg gallery vs list).</li>
               </ul>
          </div>
        </div> 

        <!--IMG-->
        <div class="row blockPadding-50-top">
          <div class="col-sm-12 padding-lr-30">
            <img class="img" src="images/truespirit/usability-testing.jpg">
          </div>
        </div> 

        <!-- VISUAL DESIGN -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-4 padding-lr-30">
             <img class=""src="images/truespirit/visual-design.gif">
          </div>          
          <div class="col-sm-6 padding-lr-30">
            <h4>VISUAL DESIGN</h4>
            <p>I have realized a mock-up of the visual design in order to understand if the home page was meeting the business style.</p>
            <p><strong>Business style requirements:</strong> Fresh, modern, lighthearted, open, appealing,  friendly, curated, there when you need us but not in your way.</p>
          </div>
        </div>  



        <!-- PRESENTATION -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-8 padding-lr-30">
            <h4>STORYTELLING</h4>
              <p>In order to communicate our design effectively we have played a role game. Where one us was playing the role of one of our persona using a prototype. We also had an external narrator to explain our design choices based on the action of our persona.</p>
        </div>  
        <div class="col-sm-4 padding-lr-30">
            <p class="center"><a href="http://www.slideshare.net/SaraMichelazzo/user-experience-design-for-ecommerce" target="blank"><button type="button" class="btn btn-primary btn-lg">VIEW PRESENTATION</button></a></p>
        </div>  
      </div> 

      <!--IMG-->
        <div class="row blockPadding-50-top">
          <div class="col-sm-12 padding-lr-30">
            <img class="img"src="images/truespirit/presentation.jpg">
          </div>
        </div> 


      <!-- MORE ABOUT THIS PROJECT -->
        <div class="row blockPadding-50">
          <div class="col-sm-12 padding-lr-30">
            <h4>DO YOU WANT TO SEE MORE ABOUT THIS PROJECT</h4>
              <div class="row">
                <div class="col-sm-4 padding-lr-30">
                  <img class=""src="images/truespirit/invisio_logo.png">
                  <p>Live prototype in invision</p>
                  <a href="http://invis.io/NVMSPEXU" target="blank"><button type="button" class="btn btn-primary btn-lg">invision prototype</button></a>
                </div>
                <div class="col-sm-4 padding-lr-30">
                 <img class=""src="images/truespirit/omnigraffle_logo.png">
                 <p>Prototype in Omnigraffle</p>
                 <a href="http://www.slideshare.net/SaraMichelazzo/finalised-prototype" target="blank"><button type="button" class="btn btn-primary btn-lg">Omnigraffle prototype</button></a>
                </div>
               <div class="col-sm-4 padding-lr-30">
                  <img class=""src="images/truespirit/slideshare_logo.png">
                  <p>Design Spec</p>
                  <a href="http://www.slideshare.net/SaraMichelazzo/design-specificationsjd" target="blank"><button type="button" class="btn btn-primary btn-lg">View Design Spec</button></a>
              </div>
            </div>
        </div>  
      </div>
