
      <section id="section1" class="container">

        <div class="blockPadding-50-bottom">
         <h1 class="center">James' App</h1>
         <h3 class="center">Mobile Application</h3>
         <p class="center"><strong>TOPICS: </strong>Needfinding, Scenarios, Rapid Prototyping (POP)</p>
        </div>

<!-- project | role | duration -->
        <div class="row background-lg">
          <div class="col-sm-4 padding-lr-30">
            <h4>Project Brief</h4>
            <p>Quiz James about his interests and find a problem that could be solved with a simple mobile app.
Design an app that solves the problem simply and effectively.</p>
          </div>

          <div class="col-sm-4 padding-lr-30">
            <h4>Client</h4>
            <p>Student project for User Experience Design Immersive, General Assembly, Summer Sydney 2014</p>
            <h4>Duration</h4>
            <p>1 week</p>
          </div>

          <div class="col-sm-4 padding-lr-30">
            <h4>Tools</h4>
            <p>POP App, pencils and paper.</p>
          </div>
        </div>

      <!-- STATEMENT OF THE PROBLEM -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-6 padding-lr-30">
            <h4>STATEMENT OF THE PROBLEM</h4>
            <p>James wishes he were a better cook. He enjoys cooking, but doesn’t have much time for it. He looks for recipes online and makes up his own, but usually cooks the same 5 basic recipes. When he cooks, he tends to modify recipes on the fly without keeping track of the changes. This makes it difficult to reproduce the same recipes in the future.</p> 
          </div>
          <div class="col-sm-6 padding-lr-30">
            <h4>SOLUTION</h4>
            <p>I designed an app to make James a better cook. It helps him keep track of successful recipe alterations and build his own recipe collection. The app also gives James inspiration to continue cooking his favourite recipes and to add more variety to his repertoire.</p> 
          </div>
          </div>
        </div>

      <!--NEEDFIDING-->
        <div class="row blockPadding-50-top">
          <div class="col-sm-8 padding-lr-30">
             <h4>NEEDFINDING</h4>
             <p>The first step of the project involved focusing on the problems. Needfinding included getting ready for the interview, conducting the interview, audio recording the interview and taking notes. Then going through all of the materials again.</p>
          </div>
        </div>  

      <!--IMG-->
        <div class="row blockPadding-50-top">
          <div class="col-sm-12 padding-lr-30">
            <img class="img"src="images/iphoneapp/1-needfinding.jpg">
          </div>
        </div>

       <!--KEY FINDINGS-->
        <div class="row blockPadding-50-top">
          <div class="col-sm-4 padding-lr-30"> 
          <img class="img-noborder "src="images/iphoneapp/james.png"> 
          </div>         
          <div class="col-sm-6 padding-lr-30">
             <h4>KEY FINDINGS</h4>
             <p>James enjoys cooking, he used to cook every day before he got married 9 months ago. Now he cooks 2/3 times a month and. sometimes during the weekend they cook together. James tends to prepare basic meals, usually the same 5 recipes. Sometimes he looks for recipes online and he makes his choice based on the picture and on the ingredients.</p>
             <p>He uses to alter recipes to follow his taste but he doesn’t keep track of the alterations. The consequence is that he often gets frustrated because recipes don’t taste the same every time. </p>
          </div>
        </div>

        <!-- QUOTES & FINDINGS-->
        <div class="row blockPadding-50-top">
          <div class="col-sm-7 col-sm-offset-4 padding-lr-30">
            <h4>KEY QUOTES</h4>

            <p>"I look for recipes online and I make my choice based on the pictures and on the ingredients."</p>
            <p>"During the downtimes while cooking I read news on my iPhone."</p>
            <p>"I am willing to learn because I really enjoy the process."</p>
          </div>
          </div>
        </div>

        <!--GOALS-->
        <div class="row blockPadding-50-top">
          <div class="col-sm-7 col-sm-offset-4 padding-lr-30">
             <h4>GOALS</h4>
             <ul>
              <li>Help James to rembember successful alterations to recipes.</li>
              <li>Collect his recipes.</li>
             </ul>
          </div>
        </div>
       
        <!--IMG-->
        <div class="row blockPadding-50-top">
          <div class="col-sm-12 padding-lr-30">
            <img class="img"src="images/iphoneapp/2-goals.jpg">
          </div>
        </div>      

        <!-- BRAINSTORMING-->
        <div class="row blockPadding-50-top">
          <div class="col-sm-4 padding-lr-30">
            <img class="img"src="images/iphoneapp/brainstorming.jpg">
          </div>
          <div class="col-sm-7 padding-lr-30">
            <h4>BRAINSTORMING</h4>
            <p>I have sketched new ideas on paper to keep track of them but I haven’t read them back until I had finished to analyze the problem and the users needs. Usually, later on in the process new ideas become a great resource to innovate.</p>
          </div>
        </div>


        <!-- USER FLOWS -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-4 padding-lr-30">
            <img class="img"src="images/iphoneapp/userflow.jpg">
          </div>
          <div class="col-sm-7 padding-lr-30">
            <h4>USER FLOW</h4>
            <p>In order to define the main flow I have sketched the whole process, underlining the decision points and the interaction with external resources.</p>
          </div>
        </div>

        <!-- SCENARIO 1 -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-6 padding-lr-30">
            <img class="img"src="images/iphoneapp/scenario2.jpg">
          </div>
          <div class="col-sm-6 padding-lr-30">
            <h4>JAMES IN THE KITCHEN</h4>
            <p>James wants to cook a recipe he made a few months ago. He doesn’t remember the ingredients and he looks them up on the app. He decides to modify the recipe on the fly and the result is awesome: it tastes better this way.</p>
            <p><strong>Key findings:</strong></p>
            <p>Usually people who are cooking have dirty hands. This is why:</p>
              <ul>
                <li>the main information should fit in one page, so there is no need to scroll.</li>
                <li>iPhone shouldn’t turn the screen off while in the recipe page.</li>
              </ul>
   
            <p>James likes to alter recipes but usually the changes are small.  This is why I should: </p>
            <ul>
                <li>insert a clone button. So James doesn’t have to fill the new recipe form from scratch and he saves time.</li>
            </ul>
          </div>
        </div>


       <!-- SCENARIO 2 -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-6 padding-lr-30">
            <img class="img"src="images/iphoneapp/scenario3.jpg">
          </div>
          <div class="col-sm-6 padding-lr-30">
            <h4>JAMES LOOKS FOR RECIPES ONLINE</h4>
            <p>James prefers to look for new recipes online using his desktop he finds the bigger screen more comfortable. This is why he needs a tool that synchronize his desktop with his phone.</p>
            <p><stong>Key findings:</strong></h4>
            <p>The sync application should include the following feature:</p>
              <ul>
                <li>Send a link.</li>
                <li>Send notes.</li>
                <li>Select a picture from that url.</li>
              </ul>
          </div>
        </div>


        <!-- SKETCHES -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-8 padding-lr-30">
            <img class="img"src="images/iphoneapp/firstSketches.jpg">
          </div>
          <div class="col-sm-4 padding-lr-30">
            <h4>SKETCHES</h4>
            <p>I have drawn some rough sketches of the main pages and then I have showed them to James. The goal was to understand which pages I could improve based on James’ feedback.</p>
          </div>
        </div>


        <!-- REFINED SKETCHES -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-8 padding-lr-30">
            <img class="img"src="images/iphoneapp/sketches.jpg">
          </div>
          <div class="col-sm-4 padding-lr-30">
            <h4>REFINED SKETCHES</h4>
            <p>Thanks to James feedback I was able to improve some pages and to add new ones.</p>
            <p><strong>Key findings:</strong></p>
            <ul>
              <li>the sync with the desktop is now on the home page</li>
              <li>in the recipe page main content fits in one page</li>
              <li>the image on the recipe page can be enlarged</li>
              <li>the "edit recipe page"  now follows the design pattern of the recipe page</li>
            </ul>
          </div>
        </div>


      <!-- PROTOTYPE TESTING -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-8 padding-lr-30">
            <img class="img"src="images/iphoneapp/usability_test.jpg">
          </div>
          <div class="col-sm-4 padding-lr-30">
            <h4>USABILITY TESTING</h4>
            <p>The usability testing on the prototype helped me to fix layout problems and interactions:</p>
            <p><strong>Key findinds:</strong></p>
              <ul>
                <li>Refine the home page.</li>
                <li>Modify sync page.</li>
                <li>Add back buttons to navigation.</li>
                <li>Refine the recipe page.</li>
            </ul>
          </div>
        </div>

        <!-- POP PROTOTYPE -->
        <div class="row blockPadding-50-top">   
          <div class="col-sm-8 padding-lr-30">
            <p class="center"><img class="img-noborder" src="images/iphoneapp/jamesPOP.jpg"></p>
          </div>      
          <div class="col-sm-4 padding-lr-30">
            <h4>PROTOTYPE</h4>
            <p>The prototype is at a very early stage and was realized with POP app. The main goal was to understand if the app could solve the James needs.</p>
            <p>The interaction with the camera and the photos stream haven’t been explored.</p>
          <p class="center"><a href="https://popapp.in/w#!/projects/52ce47c83c6649ce69000bb7/preview
" target="blank"><button type="button" class="btn btn-primary btn-lg">GO TO PROTOTYPE</button></a></p>
          </div>
            <div class="col-sm-4 padding-lr-30">

          </div>
        </div>  



        <!-- PRESENTATION -->
        <div class="row blockPadding-50">
          <div class="col-sm-8 padding-lr-30">
            <h4>PRESENTATION</h4>
              <p>The slides used fot the presentation of this project are online on Slideshare.</p>
        </div>  
        <div class="col-sm-4 padding-lr-30">
            <p class="center"><a href="http://www.slideshare.net/SaraMichelazzo/mobile-app-protoyping" target="blank"><button type="button" class="btn btn-primary btn-lg">VIEW PRESENTATION</button></a></p>
        </div>  
      </div> 

  </section>

      <!--navigaton-->
  <nav class="linkNavigation">
    <ul class="container linkNavigation-elements">
      <li class="linkNavigation-prev"><a href="/truespirit">&lt;&lt; trueSpirit</a></li>
      <li class="linkNavigation-next"><a href="/solairplmux">Solair PLM &gt;&gt;</a></li>
    </ul>
  </nav>
