<!DOCTYPE html>
<html>
  <head>
    <title>Sara Michelazzo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="">
    <div id="navigationMenu">
      <nav class="container">
        <div class="row">
          <div class="col-md-8 textAlign-md-center">
            <p><a href="index" class='logo-link'><img src="images/heart.png" alt="sara michelazzo logo" class="hidden-md-inline img-responsive logo"/></a><span class="padding-left-15"><strong>Sara Michelazzo</strong> is a User Experience Designer based in Sydney</span></p>
            <a href="index" class='logo-link visible-sm visible-xs'>
              <img src="images/heart.png" alt="sara michelazzo logo" class="visible-md-inline img-responsive logo" />
            </a>
          </div>
          <div class="col-md-4">
            <ul class="section-menu section-menu-margin20 textAlign-md-center textAlign-lg-right">
              <li class="section-menu-item"><a href="index" <%= 'class="active"' if @page == 'work' %>>Work.</a></li>
              <li class="section-menu-item"><a href="about" <%= 'class="active"' if @page == 'about' %>>About.</a></li>
            </ul>
          </div>
        </div>  
      </nav>
    </div>

    <%= yield %>

    <footer id="mainFooter" >
      <div class="blockPadding-50">
        <h1>Get in touch</h1>
        <ul class="floated-list blockPadding-50px">
          <li class="floated-list-item"><a href= "mailto:sara.michelazzo@yahoo.it"><i class="mail"></i></a></li>
          <li class="floated-list-item"><a href="https://www.behance.net/saramichelazzo"><i class="behance"></i></a></li>
          <li class="floated-list-item"><a href="http://www.linkedin.com/pub/sara-michelazzo/21/605/87"><i class="linkedin"></i></a></li>
        </ul>
      </div>
      <div class="darkBackground">
        <div class="blockPadding-50-top position-relative">
          <a id="returnUp" href="#" class="position-top-right square link-no-hover"><img src="images/up.png"/></a>
          <ul class="section-menu section-menu-margin20 textAlign-md-center">
            <li class="section-menu-item"><a class="light active" href="index">Work.</a></li>
            <li class="section-menu-item"><a class="light" href="about">About.</a></li>
          </ul>
        </div>
        <p class="blockPadding-50">Passion is infectious</p>
        <p class="copyright">Website and content &copy; copyright 2013 Sara Michelazzo. <br>
            This website was designed and coded by me with love.</p>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function(){
      $(".logo").hover(function(){
        $(this).attr("src", $(this).attr("src").replace(".png", "_hover.png"));
      }, function(){
        $(this).attr("src", $(this).attr("src").replace("_hover", ""));
      });
    })
    </script>
  </body>
</html>