
<section id="section1" class="container">

  <div class="blockPadding-50-bottom">
    <h1 class="center">LinkedIn groups feature</h1>
    <h3 class="center">Adding a new feature to an existing product</h3>
    <p class="center"><strong>TOPICS: </strong>Research, Ideation, Prototyping, Usability Testing</p>
  </div>

  <!-- project | role | duration -->
    <div class="row blockPadding-50 background-lg">
      <div class="col-sm-4 padding-lr-30">
        <h4>Brief</h4>
        <p>LinkedIn wants to boost its "Groups" feature by adding collaboration and task management for companies and co-workers.</p>
     </div>

      <div class="col-sm-4 padding-lr-30">
        <h4>Client</h4>
        <p>Project for User Experience Design Immersive at General Assembly, Sydney 2014</p>
        <h4>Challenges</h4>
        <p>Identified where in the app this feature was to be introduced and developed an understanding of how users manage networking contacts both in the physical and digital manner.
        </p>
      </div>

      <div class="col-sm-4 padding-lr-30">
        <h4>Duration</h4>
        <p>2 weeks of 8 week course</p>
        <h4>My role</h4>
        <p>UX designer - individual project</p>
        <h4>Tools</h4>
        <p>Axure, Omnigraffle, Excel, Google Form, Sharpies &amp; paper.</p>
      </div>
    </div>

    <!-- LIVE PROTOTYPE -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <img class="img-noborder "src="images/linkedin/linkedinAnimation.gif">
      </div>
      <div class="col-sm-4 padding-lr-30">
        <h4>CLICKABLE PROTOTYPE</h4>
        <p>This prototype was created in Axure.</br>Steps shown:</p>
        <ul>
          <li>Create a collaboration group</li>
          <li>Add selected members</li>
          <li>Share an update and a file</li>
          <li>Navigate to file sharing and calendar areas</li>
        </ul> 
        <p class="center"><a href="http://xdhqac.axshare.com" target="blank"><button type="button" class="btn btn-primary btn-lg">GO TO PROTOTYPE</button></a></p>
      </div>
    </div>

    <!-- COMPETITIVE ANALYSIS  & RESEARCH -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <h4>COMPETITIVE ANALYSIS  &amp; RESEARCH</h4>
        <p>This involved analyzing existing contact management networking systems, collaboration and task management tools. Research involved understanding the function of LinkedIn Groups, in particular users participating in an existing group and creating a new group.</p>
        <p class="">Contact management networking tools analyzed: Behance, Dribble, The Loop, Google Plus, Facebook.</br>Collaboration and task management tools analyzed: Basecamp, Skype, Google Drive, Dropbox, Microsoft Projects, Do.com, Trello, GA Community, Facebook, To do list.</p>
      </div>
    </div>

    <!--IMG-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <img class="img"src="images/linkedin/1-competitive-analysis.jpg">
      </div>
    </div>

    <!-- USER RESEARCH -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <h4>USER RESEARCH & SURVEY</h4>
        <p>User research involved understanding the target for the new feature, creating an ad hoc survey to understand how LinkedIn group is perceived and how people go about contact management networking and collaboration tools. The survey was completed by 14 people currently living in Sydney.</p>
        <p class="">Key findings: </br>  
          79% of people use a desktop or a laptop to access LinkedIn. This is why I have worked on a desktop version.</br>86% of people have used a collaboration and task management tool,  but only 6% used a full features one like Basecamp. 73% use "one feature" tools like Google Drive, Dropbox and Skype.
          <p class="">Solution:</br>  Develop a desktop prototype with basic features like file sharing and chat to cover more than 70% of peoples needs.
          </p>
        </div>
        <div class="col-sm-4 padding-lr-30">
          <p class="center"><a href="https://docs.google.com/forms/d/1MN2nA3_K8ceu3pl5i-YpF57euWMErcwjKTb09XOaQnI/viewform" target="blank"><button type="button" class="btn btn-primary btn-lg">GO TO SURVEY</button></a></p>
        </div>
      </div>

      <!--IMG-->
      <div class="row blockPadding-50-top">
        <div class="col-sm-12 padding-lr-30">
          <img class="img" src="images/linkedin/2-user-research.jpg">
        </div>
      </div>

      <!-- PERSONAS, SCENARIOS & USER JOURNEY -->
      <div class="row blockPadding-50-top">
        <div class="col-sm-8 padding-lr-30">
          <h4>PERSONAS, SCENARIOS & USER JOURNEY</h4>
          <p>3 personas were built for this project. 1 primary persona: Annah, and 3 secondary personas: her classmates, Linda and Bill and their teacher, Tina. The main scenario was Annah creating a new group with her classmates to complete a project from school. The classmates were able to share files, chat and set a shared calendar. Tina, the teacher was added to the chat later to check their work. This user journey really helped me to set up the list of features.</p>
          <p>Main features:
          <ul>
            <li>collaboration group connected to messages and notifications (accessible from mobile), chat </li>
            <li>file sharing</li>
            <li>downloading single files and also all the materials at once</li>
            <li>shared to do list</li>
            <li>add a user to the group later on</li>
            <li>put a project on freeze</li>
          </ul> </p>
        </div>
      </div>

      <!--IMG-->
      <div class="row blockPadding-50-top">
        <div class="col-sm-12 padding-lr-30">
          <img class="img" src="images/linkedin/3-personas.jpg">
        </div>
      </div>

      <!-- PERSONAS, SCENARIOS & USER JOURNEY -->
      <div class="row blockPadding-50-top">
        <div class="col-sm-12 padding-lr-30">
          <h4>IDENTIFY HOW TO INTRODUCE THE GROUP FEATURE</h4>
          <div class="row">
            <div class="col-sm-6 padding-lr-30">
              <p><strong>Meet the brand vision:</strong></br>The mission of LinkedIn is to connect the world's professionals to enable them to be more productive and successful. LinkedIn "collaboration groups" meets this goal by keeping teams organized and efficient and allows them to share information effectively.</br>
              There are many collaboration and management task tools out there. Why should they choose LinkedIn? The answer is in the opportunity to share work in progress easily with other world professionals in order to be more successful.</p>
              <p><strong>Introduce the group feature:</strong></br>To understand where to introduce the new feature I have mapped the LinkedIn website and analyzed the navigation system. The goal was to use, when possible, the existing features and the current design patterns.</p>
            </div>
            <div class="col-sm-6 padding-lr-30">

             <p><strong>Key finding:</strong></br>  
              The new feature could be introduced into the current Group section.  The new features could be connected to the existing features: messages, notifications and profile pages. The collaboration group could have a similar structure to that of the communication group. Both share these areas: discussion, search, members, manage (shown only for group owner) and the collaboration group would have file sharing, calendar and to do list instead of promotion and jobs. </p>
            </div>
          </div>
        </div>
      </div>

      <!--IMG-->
      <div class="row blockPadding-50-top">
        <div class="col-sm-12 padding-lr-30">
          <img class="img" src="images/linkedin/4-introducing-group-feature.jpg">
        </div>
      </div>

      <!-- SKETCHING & PROTOTYPING -->
      <div class="row blockPadding-50-top">
        <div class="col-sm-8 padding-lr-30">
          <h4>SKETCHING &amp; PROTOTYPING</h4>
          <p>Identify the main LinkedIn pages involved in merging the new feature with the existing one, using LinkedIn design patterns to keep consistency (i.e. Adding a new member to a group is taken from the ‘add project feature’ in the profile page). </br>New patterns are provided only for the new features: file sharing, calendar and to do list.
          </p>
          <p class="">Sketches: create group, collaborate group home, file sharing, calendar, to do list, members, invite message to a group, profile page.</p>
        </div>
      </div>  

      <!--IMG-->
      <div class="row blockPadding-50-top">
        <div class="col-sm-12 padding-lr-30">
          <img class="img" src="images/linkedin/5-sketching-&-ideation.jpg">
        </div>
      </div> 

      <!-- USABILITY TESTING -->
      <div class="row blockPadding-50-top">
        <div class="col-sm-8 padding-lr-30">
          <h4>USABILITY TESTING</h4>
          <p>A high fidelity prototype with full features was built in Axure in order to test every interaction that a user does to open a communication group and share files and updates. A script was prepared for usability interviews and 6 people were asked to complete the tasks above on a laptop sharing their thoughts.</p>
          <p><strong>Pain points (troubleshooting):</strong></p>
          <ul>
            <li>Find the entry point to groups</li>
            <li>Distinguish between communication and collaboration group</li>
            <li>Unnecessary fields in the "create new group page"</li>
            <li>Hero image too big inside "new group" home page</li>
          </ul>
        </div>
      </div> 

      <!--IMG-->
      <div class="row blockPadding-50-top">
        <div class="col-sm-12 padding-lr-30">
          <img class="img" src="images/linkedin/6-prototyping&testing.jpg">
        </div>
      </div> 

      <!-- ITERATION & PROTOTYPE -->
      <div class="row blockPadding-50-top">
        <div class="col-sm-8 padding-lr-30">
          <h4>ITERATION &amp; PROTOTYPE</h4>
          <p>Data and thoughts from usability testing were collected and analyzed in order to understand shared pain points. The first design was improved and a second prototype was built.</p>
        </div>
        <div class="col-sm-4 padding-lr-30">
          <p class="center"><a href="http://xdhqac.axshare.com" target="blank"><button type="button" class="btn btn-primary btn-lg">GO TO PROTOTYPE</button></a></p>
        </div>
      </div>  

      <!--IMG-->
      <div class="row blockPadding-50-top">
        <div class="col-sm-12 padding-lr-30">
          <img class="img"src="images/linkedin/7-prototypeVSlinkedin.jpg">
        </div>
      </div> 

      <!-- RESULT -->
      <div class="row blockPadding-50-top">
        <div class="col-sm-8 padding-lr-30">
          <h4>RESULT</h4>
          <p>The process helped to understand where in the website the user would expect to find this feature.</p>
          <p><strong>To investigate:</strong></p>
          <ul>
            <li>The new design</li>
            <li>Testing labels,  I have tested communication groups and collaboration groups but introducing the label "team" could help uses to identify better the type of group.</li>
          </ul>

          <p><strong>Desirable features for the future:</strong></p>
          <ul>
            <li>Add the work in progress feature in the edit profile page to provide to users an easy way to share the result of their team work</li>
            <li>Add an info graphic that shows how many people the user  has worked with and what their backgrounds are. This would help the user to communicate their team’s skills more effectively.</li>
          </ul>
        </div>
        <div class="col-sm-4 padding-lr-30">
          <h2>Collaboration groups adds to LikedIn 8 pages: 7 with advertisements.</a></h2>
        </div>
      </div>  
    </div>
  </div>

    <!--PRESENTATION-->
    <div class="row blockPadding-50">
      <div class="col-sm-12 padding-lr-30">
        <h4>PITCH TO STAKEHOLDERS</h4>
        <p>The following image is a map that allows to explain the main findings of this research in 5 minutes.</br> The presentation covers:</p>
        <ul>
          <li>Benefits for the business</li>
          <li>Findings of what users want</li>
          <li>Similarities and differences with the regular group feature</li>
        </ul>
        <img class="img"src="images/linkedin/presentation.jpg">
      </div>
    </div>  


</section>


    <!--navigaton-->
  <nav class="linkNavigation">
    <ul class="container linkNavigation-elements">
      <li class="linkNavigation-prev"><a href="/gocatch">&lt;&lt; goCatch</a></li>
      <li class="linkNavigation-next"><a href="/truespirit">trueSpirit &gt;&gt;</a></li>
    </ul>
  </nav>