<!-- project | role | duration -->
      <section id="section1" class="section">
        <div class="container">
         <h1 class="center">LinkedIn groups feature</h1>
         <h3 class="center">Adding a new feature to an existing product</h3>
         <p class="center"><strong>TOPICS: </strong>Research, Ideation, Prototyping, Usability Testing</p>

        <div class="row blockPadding-50 background-lg">
          <div class="col-sm-4 padding-lr-30">
            <h4>Brief</h4>
            <p>LinkedIn wants to boost its "Groups" feature by adding collaboration and task management for companies and co-workers.</p>

          </div>
          <div class="col-sm-4 padding-lr-30">
            <h4>Client</h4>
            <p>Student project for User Experience Design Immersive, General Assembly, Summer Sydney 2014</p>
            <h4>Challenges</h4>
            <p>Identify where in the app you will introduce this feature and understand how people go about contact management networking both in the real world and with other similar tools
</p>
          </div>
          <div class="col-sm-4 padding-lr-30">
            <h4>Duration</h4>
            <p>2 weeks</p>
            <h4>My role</h4>
            <p>UX designer, everything showed below was made by me</p>
            <h4>Tools</h4>
            <p>Axure, Omnigraffle, Excel, Google Form, sharpies &amp; paper.</p>
          </div>
        </div>

      <!-- LIVE PROTOTYPE -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-8 padding-lr-30">
            <h4>LIVE PROTOTYPE</h4>
            <p>This prototype was created in Axure.</br>Tasks: open a collaboration group adding selected members, sharing an update and a file, navigating to file sharing and calendar. The invite message to join a collaboration group was also included.</p>     
          </div>
          <div class="col-sm-4 padding-lr-30">
            <p class="center"><a href="http://xdhqac.axshare.com" target="blank"><button type="button" class="btn btn-primary btn-lg">GO TO PROTOTYPE</button></a></p>
          </div>
        </div>

      <!--PRESENTATION-->
        <div class="row blockPadding-50-top">
          <div class="col-sm-12 padding-lr-30">
             <h4>PITCH TO STAKEHOLDERS</h4>
            <img class="img"src="images/linkedin/PRESENTATION.jpg">
          </div>
        </div>  

        <!-- COMPETITIVE ANALYSIS  & RESEARCH -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-8 padding-lr-30">
            <h4>COMPETITIVE ANALYSIS  &amp; RESEARCH</h4>
            <p>Competitive analysis involved analysing both contact management networing systems and Collaboration and task management tools, reading articles, understanding features and user flows. Research involved understanding how LinkedIn Groups works: being part of a group and create a new group.</p>
            <p class="p-smaller">Contact management networking tools analized: behance, dribble, the loop, google plus, facebook.</br>Collaboration and task management tools analized: basecamp, skype, google drive, dropbox, projects, do.com, trello, GA community, facebook, to do list.</p>
          </div>
        </div>

        <!--IMG-->
        <div class="row blockPadding-50-top">
          <div class="col-sm-12 padding-lr-30">
            <img class="img"src="images/linkedin/1-competitive-analysis.jpg">
          </div>
        </div>

        <!-- USER RESEARCH -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-8 padding-lr-30">
            <h4>USER RESEARCH & SURVEY</h4>
            <p>User research involved understanding the target for the new feature, creating an ad hoc survey (link to the survey) to understand how Linkedin group is perceived and how people go about contact management networking and collaboration and task management tools. The survey was completed by 14 people currently living in Sydney.</p>
            <p class="p-smaller">Key findings: </br>  
            79% people uses a Desktop or a laptop to access LinkedIn. This is why I have worked on a desktop version 86% people have used a collaboration and task management tool before but only the 6% used a full features one like Basecamp. The 73% uses "one feature" tools like Google Drive, Dropbox and Skype. 
            <p class="p-smaller">Solution:</br>  
            Develop a desktop prototype with basic features like file sharing, chat to cover more than 70% people needs.
            </p>
          </div>
          <div class="col-sm-4 padding-lr-30">
            <p class="center"><a href="https://docs.google.com/forms/d/1MN2nA3_K8ceu3pl5i-YpF57euWMErcwjKTb09XOaQnI/viewform" target="blank"><button type="button" class="btn btn-primary btn-lg">GO TO SURVEY</button></a></p>
          </div>
        </div>

        <!--IMG-->
        <div class="row blockPadding-50-top">
          <div class="col-sm-12 padding-lr-30">
            <img class="img" src="images/linkedin/2-user-research.jpg">
          </div>
        </div>

        <!-- PERSONAS, SCENARIOS & USER JOURNEY -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-8 padding-lr-30">
            <h4>PERSONAS, SCENARIOS & USER JOURNEY</h4>
            <p>3 personas were built for this project. 1 primary personas: Annah and 3 secondary personas: Linda and Bill, her classmates and their teacher, Tina. The main scenario was Annah creating a new group with her classmates to complete a project from school. The guys were able to share files, chat and set a shared calendar. Tina, the teacher is added to the chat later to check their work. The user journey sat up the list for features.</p>
            <p class="p-smaller">Main features: </br> collaboration group connected to messages and notification (accessible from mobile), chat, file sharing, downloading all the materials at once, shared to do list, possibility to add a user to the group later on, put a project on freeze. </p>
          </div>
        </div>

        <!--IMG-->
        <div class="row blockPadding-50-top">
          <div class="col-sm-12 padding-lr-30">
            <img class="img" src="images/linkedin/3-personas.jpg">
          </div>
        </div>

                <!-- PERSONAS, SCENARIOS & USER JOURNEY -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-12 padding-lr-30">
            <h4>IDENTIFY HOW TO INTRODUCE THE GROUP FEATURE</h4>
              <div class="row">
                 <div class="col-sm-6 padding-lr-30">
                  <p><strong>Fit in the brand:</strong></br> The mission of LinkedIn is to connect the world's professionals to enable them to be more productive and successful. LinkedIn "collaboration groups" helps people to be more productive and more successful as well.</br>
                  There are many collaboration and management task tools out there. Why should they choose LinkedIn?  The answer is in the opportunity to share work in progress easily with other world's professional.
                  </p>
                 </div>
                  <div class="col-sm-6 padding-lr-30">
                   <p><strong>Fit in the product:</strong></br> to understand where to introduce the new feature I have mapped the LinkedIn website and analyzed the navigation system. The goal was tying to use existing features. </p>
                    <p class="p-smaller">Key finding: </br>  
                    The new feature could be introduced into the Group section and it could be connected to existing feature as: messages, notification and profile page. The collaboration group could have a similar structure of the communication group.  Both have: discussion, search, members and manage (only for group owner) and the collaboration group would have file sharing, calendar and to do list instead of promotion and jobs. </p>
                  </div>
                </div>
          </div>
        </div>

        <!--IMG-->
        <div class="row blockPadding-50-top">
          <div class="col-sm-12 padding-lr-30">
            <img class="img" src="images/linkedin/4-introducing-group-feature.jpg">
          </div>
        </div>

        <!-- SKETCHING & PROTOTYPING -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-8 padding-lr-30">
            <h4>SKETCHING &amp; PROTOTYPING</h4>
            <p>Identify the main pages involved merging the new feature with the existing ones using LinkedIn design patterns to keep consistency (ig. Adding new member to a group is taken from the add project feature in the profile page). </br>New patterns are provided only for the new features: file sharing, calendar and to do list.
</p>
            <p class="p-smaller">Sketches: create group, collaborate group home, file sharing, calendar, to do list, members, invite message to a group, profile page.</p>
          </div>
        </div>  

        <!--IMG-->
        <div class="row blockPadding-50-top">
          <div class="col-sm-12 padding-lr-30">
            <img class="img" src="images/linkedin/5-sketching-&-ideation.jpg">
          </div>
        </div> 

        <!-- USABILITY TESTING -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-8 padding-lr-30">
            <h4>USABILITY TESTING</h4>
            <p>A high fidelity prototype with full features was built in Axure in order to test every interaction that a user does to open a communication group and share files and updates. A script was prepared for usability interviews and 6 people were asked to complete the tasks above on a laptop sharing their thoughts.</p>
            <p><strong>Pain points:</strong></p>
                <ul>
                 <li>finding the entry point to groups</li>
                 <li>distinguish between communication and collaboration group</li>
                 <li>unnecessary fields in the "create new group page"</li>
                 <li>hero image too big inside "new group" home page</li>
               </ul>
          </div>
        </div> 

        <!--IMG-->
        <div class="row blockPadding-50-top">
          <div class="col-sm-12 padding-lr-30">
            <img class="img" src="images/linkedin/6-prototyping&testing.jpg">
          </div>
        </div> 

        <!-- ITERATION & PROTOTYPE -->
        <div class="row blockPadding-50-top">
          <div class="col-sm-8 padding-lr-30">
            <h4>ITERATION &amp; PROTOTYPE</h4>
            <p>Data and thoughts from usability testing were collected and analyzed in order to understand shared pain points. The first design was iterated and a second prototype was built.</p>
          </div>
          <div class="col-sm-4 padding-lr-30">
            <p class="center"><a href="http://xdhqac.axshare.com" target="blank"><button type="button" class="btn btn-primary btn-lg">GO TO PROTOTYPE</button></a></p>
          </div>
        </div>  

        <!--IMG-->
        <div class="row blockPadding-50-top">
          <div class="col-sm-12 padding-lr-30">
            <img class="img"src="images/linkedin/7-prototypeVSlinkedin.jpg">
          </div>
        </div> 

        <!-- RESULT -->
        <div class="row blockPadding-50">
          <div class="col-sm-8 padding-lr-30">
            <h4>RESULT</h4>
              <p>The process helped to understand where in the app the user would expect to find this feature.</p>
              <p><strong>To investigate:</strong></p>
              <ul>
                <li>the new design</li>
                <li>Testing words, for now I have tested communication groups and collaboration groups but introducing the word "team" could help uses to identify better the type of group.</li>
              </ul>

              <p><strong>Desirable features for the future:</strong></p>
                <ul>
                 <li>adding the work in progress feature in the edit profile page would provide to users an easy way to share the result of their team work</li>
                 <li>adding an infographic that shows how many people we have worked with and what their background is would help users to show their skills</li>
               </ul>
          </div>
            <div class="col-sm-4 padding-lr-30">
            <h2>Collaboration groups adds to LikedIn 8 pages: 7 with advertisements.</a></h2>
          </div>
        </div>  
</div> 