  <!-- project | role | duration -->
  <section id="section1" class="container">

  <div class="blockPadding-50-bottom">
    <h1 class="center">Solair PLM</h1>
    <h3 class="center">UX Strategy</h3>
    <p class="center"><strong>TOPICS: </strong>Personas, Interaction Design, Prototyping, Motion Graphics and Visual Design.</p>
  </div>

    <div class="row background-lg">
      <div class="col-sm-4 padding-lr-30">
        <h4>The project</h4>
        <p>Build an intuitive and easy to use PLM for desktops and tablets.</p>
        <h4>The challenge</h4>
        <p>Usually this type of software is  very hard to use, it  requires a long learning curve and it  is  not user friendly.</p>
      </div>
      <div class="col-sm-4 padding-lr-30">
        <h4>My role</h4>
        <p>Conduct the interviews, create personas, design the characters and the storyboard, create the video, design wireframes and mockups in order to create the prototype, analyze the user flows.</p>
      </div>
      <div class="col-sm-4 padding-lr-30">
        <h4>Duration</h4>
        <p>This project took place between July 2010 and December 2012.</p>
        <h4>Tools</h4>
        <p>Photoshop, Illustrator, Fireworks, After Effects.</p>
      </div>
    </div>

    <!-- personas -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <img class="img" src="images/solairplm/personas.jpg">
      </div>
      <div class="col-sm-4 padding-lr-30">
        <h4>Defining Personas</h4>
        <p>After interviewing real users we  identified 6 key personas. We  recruited several people from different companies to be  “product pioneers” in order to gain valuable insights into  their needs.</p>
        <p>Every persona includes their name, job title, length of time in their job, daily tasks, features/integrations needed, likes and dislikes.</p> 
      </div>
    </div>

    <!-- scenarios -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <img class="img" src="images/solairplm/scenarios.jpg">
      </div>
      <div class="col-sm-4 padding-lr-30">
        <h4>Defining Scenarios</h4>
        <p>I constructed  defining scenarios for all personas, using  sketches and illustrations. I  realized that four personas were using the product on a desktop in their offices while two of them were using it on the go.</p>
      </div>
    </div>

    <!-- scenarios -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <img class="img" src="images/solairplm/flow.jpg">
      </div>
      <div class="col-sm-4 padding-lr-30">
        <h4>Defining Flows</h4>
        <p>After defining personas and scenarios I focused on the main work stream. The following video shows how personas interact with each other  and the product in order to get the job done. I created  the interactive prototype with Abode Fireworks.</p>
      </div>
    </div>

    <!-- video -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <iframe class="img" src="//player.vimeo.com/video/56589115?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9326" width="600" height="338" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="col-sm-4 padding-lr-30">
        <h4>Storytelling</h4>
        <p>The video was  used as a marketing tool to explain the product to stakeholders, prospects and new employees. Internally, it was a great tool to keep the marketing and R&amp;D teams on the same page.</p>
        <p><strong>The user flow starts at sec. 00:50</strong></p>

      </div>
    </div>

    <!-- Blog -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <h4>Events and Blog for users feedback</h4>
        <p>From the beginning we  involved some selected users in the product creation. . These users were from different industries and  companies of different sizes; we called them "Pioneers". In order to gain feedback on the product we  organized a few events. During the events the "Pioneers" met  the UX team and the developers.</p>
        <p>We  also created a blog where the UX team, developers and users could interact. We posted new features and visual design options. The “Pioneers” helped the team to prioritize features and  define product specifications.</p>
      </div>
    </div>

    <!-- Marketing -->
    <div class="row blockPadding-50">
      <div class="col-sm-8 padding-lr-30 blockPadding-20px">
        <img class="img " src="images/solairplm/stopViolence.png">
      </div>
      <div class="col-sm-4 padding-lr-30">
        <h4>UX Strategy &amp; Marketing</h4>
        <p>User interviews and competitor analysis showed that one of the key differentiators for our company was a user-centered designed approach. People using similar software (PLM) complained that these products were  not intuitive and hard to learn and use.</p>
        <p>Along  with the marketing team I  created several advertising campaigns to raise awareness about user-centered design.</p>
      </div>
    </div> 




  </section>

  <!--navigaton-->
  <nav class="linkNavigation">
    <ul class="container linkNavigation-elements">
      <li class="linkNavigation-prev"><a href="solairplmux">&lt;&lt; Solair Plm</a></li>
      <li class="linkNavigation-next"><a href="solairsite">Solair Web site &gt;&gt;</a></li>
    </ul>
  </nav>