<section id="section1" class="container">

  <div class="blockPadding-50-bottom">
    <h1 class="center">Solair Web Site</h1>
    <h3 class="center">Responsive web site</h3>
    <p class="center"><strong>TOPICS: </strong>Site maps, Wireframes, Web Development and Visual Design.</p>
  </div>

    <!-- project | role | duration -->

    <div class="row background-lg">
      <div class="col-sm-4 padding-lr-30">
        <h4>The project</h4>
        <p>Build a responsive template using CMS Joomla and train the marketing team to update the website independently.</br>The website should be accessible via mobile, tablet and desktop.</p>
      </div>

      <div class="col-sm-4 padding-lr-30">
        <h4>My role</h4>
        <p>I was responsible for this project and I  decided to apply UX methodologies in order to deliver a better product. I  created and  analysed personas, sketched wireframes, discussed wireframes with the Marketing team and the Management, built the website and trained the Marketing team to update the website.</p>
      </div>

      <div class="col-sm-4 padding-lr-30">
        <h4>Duration</h4>
        <p>July 2012 - December 2013.</p>
        <h4>Technology &amp; tools</h4>
        <p>CMS Joomla, Twitter Bootstrap, Sublime, Canon Digital Camera, Illustrator, Photoshop.</p>
      </div>
    </div>


    <!-- structure -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <h4>The Structure</h4>
        <p>The structure was built to meet both user and  business goals.</p>
      </div>
    </div>


    <!-- structure IMAGE -->
    <div class="row">
      <div class="col-sm-12">
        <img class="img" src="images/solairsite/sitemap.jpg">
      </div>
    </div>


        <!-- Personas -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <img class="img" src="images/solairsite/personas.jpg">
      </div>
      <div class="col-sm-4 padding-lr-30">
        <h4>Personas</h4>
        <p>Personas and scenarios helped to refine the flow and define navigation shortcuts. The main personas for the website were: the entrepreneur and the purchasing office manager who were mainly interested in the benefits and pricing, and the IT manager  and foreman who were  interested in features and support.</p>
      </div>
    </div>


    <!-- sketches -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <h4>Scketches</h4>
        <p>I created some sketches to organize the main content. The sketches made it possible to keep the Marketing team on the same page while creating the different type of content (texts, videos, images, icons). Sketches were also extremely helpful to communicate the design choices to the Management to gain their approval before building the web sites.</p>
      </div>
    </div>

    <!-- sketches IMAGE -->
    <div class="row">
      <div class="col-sm-12">
        <img class="img" src="images/solairsite/wireframes.jpg">
      </div>
    </div>


    <!-- visual design -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <h4>Visual design</h4>
        <p>I created the visual design for all the websites. The main challenge was to create a template that looked good in various colours: orange, blue, dark gray and red. To reach this goal I decided to apply flat visuals and to keep the design extremely simple.</p>
      </div>
    </div>


    <!-- visual design corporate IMAGES -->
    <div class="row">
      <div class="col-sm-12">
        <img class="img-noborder" src="images/solairsite/corporateVD.png">
      </div>
    </div>


        <!-- visual design -->
    <div class="row blockPadding-50">
      <div class="col-sm-6 padding-lr-30">
        <h4>RESULTS</h4>
        <p>The template was successfully applied to seven web sites. Due to changes in company assets only four are still online.</p>
        <ul>
          <li><a href="http://www.think3.eu/com/">Think3.eu</a></li>
          <li><a href="http://www.designpowertools.com/">Designpowertools.com</a></li>
          <li><a href="http://www.powerplm.com/en/">Powerplm.com</a></li>
          <li><a href="http://www.solairplatform.com/">Solairplatform.com</a></li>
        </ul>
        <p>NB: Since December 2013 I have no longer been in charge of the websites that may have changed</p>
      </div>
      <div class="col-sm-6">
        <img class="img-noborder" src="images/solairsite/visualdesign2.jpg">
      </div>
    </div>

  </div> 

</section>

      <!--navigaton-->
  <nav class="linkNavigation">
    <ul class="container linkNavigation-elements">
      <li class="linkNavigation-prev"><a href="/solairplmux">&lt;&lt; Solair PLM</a></li>
      <li class=""><a href="/"></a></li>
    </ul>
  </nav>