  <!-- project | role | duration -->
  <section id="section1" class="container">

  <div class="blockPadding-50-bottom">
    <h1 class="center">Solair PLM</h1>
    <h3 class="center">UX Strategy</h3>
    <p class="center"><strong>TOPICS: </strong>Personas, Interaction Design, Prototyping, Motion Graphics and Visual Design.</p>
  </div>

    <div class="row background-lg">
      <div class="col-sm-4 padding-lr-30">
        <h4>The project</h4>
        <p>Build an intuitive and easy to use PLM for desktop and tablet.</p>
        <h4>The challenge</h4>
        <p>Usually this type of software are very hard to use, they require long learning curve and they are not user friendly.</p>
      </div>
      <div class="col-sm-4 padding-lr-30">
        <h4>My role</h4>
        <p>User experience designer creating wireframes and mockups from low to high fidelity, developing personas and creating user flows to evaluate wireframes and mockups.</p>
      </div>
      <div class="col-sm-4 padding-lr-30">
        <h4>Duration</h4>
        <p>This project took place between July 2010 and December 2012.</p>
        <h4>Tools</h4>
        <p>Photoshop, Illustrator, Fireworks, After Effects</p>
      </div>
    </div>

    <!-- personas -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <img class="img" src="images/solairplm/personas.jpg">
      </div>
      <div class="col-sm-4 padding-lr-30">
        <h4>Defining Personas</h4>
        <p>After interviewing real users we have identified 6 key personas. We have recruited several people from different companies to be the “product pioneers” in order to gain valuable insight on their needs.</p>
        <p>Every persona includes name, job title, length of time job, daily tasks, features/integrations needed, likes and dislikes.</p> 
      </div>
    </div>

    <!-- scenarios -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <img class="img" src="images/solairplm/scenarios.jpg">
      </div>
      <div class="col-sm-4 padding-lr-30">
        <h4>Defining Scenarios</h4>
        <p>I have defining scenarios for all personas, through sketches and illustrations. I have realized that four personas were using the product on a desktop in their offices while two of them were using it on the go.</p>
      </div>
    </div>

    <!-- scenarios -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <img class="img" src="images/solairplm/flow.jpg">
      </div>
      <div class="col-sm-4 padding-lr-30">
        <h4>Defining Flows</h4>
        <p>After defining personas and scenarios I focused on the main stream of work. The following video shows how personas interact between themselves and the product in order to get the job done. I have realized the interactive prototype with Abode Fireworks.</p>
      </div>
    </div>

    <!-- video -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <iframe class="img" src="//player.vimeo.com/video/56589115?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9326" width="600" height="338" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="col-sm-4 padding-lr-30">
        <h4>Storytelling</h4>
        <p>The video has been used as a marketing tool to explain the product to stakeholders, prospects and new hires.  Internally, it was a great tool to  keep the marketing and R&amp;D teams on the same page.</p>
        <p><strong>For user flow skip at sec. 00:50</strong></p>

      </div>
    </div>

    <!-- Blog -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <h4>Events and Blog for users feedback</h4>
        <p>We integrated some user in the building process since the very start. This user rapresented for us different type of company that could be interested in the product. We called them Pioneers and we organized a few event to show them the product progress and to allow them to meet our UX team and developers. We created a blog where the UX team, developers and users could interact. We posted frequently new features and visual design options. Pioneers helped us to prioritize features and to define product specification.</p>
      </div>
    </div>

    <!-- Marketing -->
    <div class="row blockPadding-50">
      <div class="col-sm-8 padding-lr-30 blockPadding-20px">
        <img class="img " src="images/solairplm/stopViolence.png">
      </div>
      <div class="col-sm-4 padding-lr-30">
        <h4>UX Strategy &amp; Marketing</h4>
        <p>From user testing and competitors analysis we were able to understand that one of the key differentiator for our company may be a user centered designed approach. People using other software of the same category complained about how less intuitive and hard to learn and use they were.</p>
        <p>According with the marketing team we used Happy Users as key role in Solair brand Identity and we developed several advertising campaign to underline Solair's  commitment.</p>
      </div>
    </div> 




  </section>

  <!--navigaton-->
  <nav class="linkNavigation">
    <ul class="container linkNavigation-elements">
      <li class="linkNavigation-prev"><a href="solairplmux">&lt;&lt; Solair Plm</a></li>
      <li class="linkNavigation-next"><a href="solairsite">Solair Web site &gt;&gt;</a></li>
    </ul>
  </nav>