  <!-- project | role | duration -->
  <section id="section1" class="container">

  <div class="blockPadding-50-bottom">
    <h1 class="center">Solair PLM</h1>
    <h3 class="center">UX Strategy</h3>
    <p class="center"><strong>TOPICS: </strong>Personas, Interaction Design, Prototyping,Visual Design</p>
  </div>

    <div class="row background-lg">
      <div class="col-sm-4 padding-lr-30">
        <h4>The project</h4>
        <p>Build an intuitive and easy to use PLM for desktop and tablet. Generally this type of software are very hard to use, they require long learning curve and they are not user friendly.</p>
      </div>
      <div class="col-sm-4 padding-lr-30">
        <h4>My role</h4>
        <p><strong>User experiece desigenr</strong> creating wireframes and mockups from low to high fidelity, developing personas and creating user flows to evaluate wireframes and mockups.</p>
      </div>
      <div class="col-sm-4 padding-lr-30">
        <h4>Duration</h4>
        <p>This project took place between July 2010 and December 2012.</p>
      </div>
    </div>

    <!-- personas -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-3">
        <img class="icon" src="images/icons/persona.png">
      </div>
      <div class="col-sm-8 padding-lr-30">
        <h4>Defining Personas</h4>
        <p>After interviewing real users we ended up with 6 key personas. From this stage of the program we have recruited several companies to be our product pioneers to gain valuable insight on their need we started a blog.</p>
        <p>Every persona included name, job title, lenght of time job, daily tasks, features/integrations needed, likes and dislikes</p> 
        <img src="images/solairplm/personas.jpg">
      </div>
    </div>

    <!-- scenarios -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-3">
        <img class="icon" src="images/icons/persona.png">
      </div>
      <div class="col-sm-8 padding-lr-30">
        <h4>Defining Scenarios</h4>
        <p>Defining Scenarios for our 6 key personas was extremly useful. We ended up discovering that 4 of them were using the product on a desktop in their office while one of them was using it on a car and one in a workshop.</p>
        <img src="images/solairplm/scenarios.jpg">
      </div>
    </div>

    <!-- scenarios -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-3">
        <img class="icon" src="images/icons/sitemap.png">
      </div>
      <div class="col-sm-8 padding-lr-30">
        <h4>Defining Flows</h4>
        <p>After defining Personas and Scenarios we focused on the main stream of work.  The following video shows how 6 personas interact between themselves and the product in order to get the job done. The interface was one of the first visual we tried and at this stage was mostly a prototype.</p>
        <img src="images/solairplm/flow.jpg">
      </div>
    </div>

    <!-- video -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-3">
        <img class="icon" src="images/icons/video.png">
      </div>
      <div class="col-sm-8 padding-lr-30">
        <h4>Storytelling</h4>
        <p>The video really helped us collecting all the information we had in one place and it also helped all the user experience team to be on the same page and to explain to everyone in the company from the finance to our own family what the product was for.</p>
        <p><strong>Foruser flow skip at sec. 00:50</strong></p>
        <iframe src="//player.vimeo.com/video/56589115?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9326" width="600" height="338" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>

    <!-- Blog -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-3">
        <img class="icon" src="images/icons/coffee.png">
      </div>
      <div class="col-sm-8 padding-lr-30">
        <h4>Events and Blog for users feedback</h4>
        <p>We integrated some user in the building process since the very start. This user rapresented for us different type of company that could be interested in the product. We called them Pioneers and we organized a few event to show them the product progress and to allow them to meet our UX team and developers. We created a blog where the UX team, developers and users could interact. We posted frequently new features and visual design options. Pioneers helped us to prioritize features and to define product specification.</p>
      </div>
    </div>

    <!-- Marketing -->
    <div class="row blockPadding-50">
      <div class="col-sm-3">
        <img class="icon" src="images/icons/digital.png">
      </div>
      <div class="col-sm-8 padding-lr-30">
        <h4>UX Strategy &amp; Marketing</h4>
        <p>From user testing and competitors analysis we were able to understand that one of the key differentiator for our company may be a user centered designed approach. People using other software of the same category complained about how less intuitive and hard to learn and use they were.</p>
        <p>According with the marketing team we used Happy Users as key role in Solair brand Identity and we developed several advertising campaign to underline Solair's  commitment.</p>
        <img src="images/solairplm/stopViolence.png">
      </div>


    </div> 
  </section>

  <!--navigaton-->
  <nav class="linkNavigation">
    <ul class="container linkNavigation-elements">
      <li class="linkNavigation-prev"><a href="solairplmux"><< Solair Plm</a></li>
      <li class="linkNavigation-next"><a href="solairsite">Solair Web site >></a></li>
    </ul>
  </nav>