<!-- project | role | duration -->
<section id="section1" class="section">
  <div class="container">
    <h1 class="center">Solair PLM</h1>
    <h3 class="center">Corporate Web Site</h3>
    <p class="center"><strong>TOPICS: </strong>Site Maps, WIreframes, Visual Design</p>

    <div class="row blockPadding-50 background-lg">
      <div class="col-sm-4 padding-lr-30">
        <h4>The project</h4>
        <p>Build a responsive web site using a CMS who allow peopl</p>
      </div>
      <div class="col-sm-4 padding-lr-30">
        <h4>My role</h4>
        <p><strong>User experiece desigenr</strong> creating wireframes and mockups from low to high fidelity, developing personas and creating user flows to evaluate wireframes and mockups.</p>
      </div>
      <div class="col-sm-4 padding-lr-30">
        <h4>Duration</h4>
        <p>This project took place between July 2010 and December 2012.</p>
      </div>
    </div>

    <!-- technology -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-3">
        <img class="icon" src="images/icons/code.png">
      </div>
      <div class="col-sm-8 padding-lr-30">
        <h4>Technology</h4>
        <p>CMS Joomla, Twitter Bootrstap, Canon camera, Illustrator & Photoshop.</p>
      </div>
    </div>

    <!-- structure -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-3">
        <img class="icon" src="images/icons/sitemap.png">
      </div>
      <div class="col-sm-8 padding-lr-30">
        <h4>The Structure</h4>
        <p>The structure was build in order to meet both the user and the business goals.</p>
      </div>
    </div>


    <!-- structure IMAGE -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12">
        <img class="img-noborder" src="images/solairsite/sitemap.jpg">
      </div>
    </div>

    <!-- sketches -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-3">
        <img class="icon" src="images/icons/skeleton.png">
      </div>
      <div class="col-sm-8 padding-lr-30">
        <h4>Scketches</h4>
        <p>Before we started blah blah blah</p>
      </div>
    </div>

    <!-- sketches IMAGE -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12">
        <img class="img-noborder" src="images/solairsite/wireframes.jpg">
      </div>
    </div>

    <!-- visual design -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-3">
        <img class="icon" src="images/icons/visual.png">
      </div>
      <div class="col-sm-8 padding-lr-30">
        <h4>Visual design</h4>
        <p>After approving....</p>
      </div>
    </div>


    <!-- visual design corporate IMAGES -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12">
        <img class="img-noborder" src="images/solairsite/corporateVD.png">
      </div>
    </div>

    <!-- visual design product IMAGES -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12">
        <img class="img-noborder" src="images/solairsite/productVD.png">
      </div>
    </div>

  </div> 

</section>