<section id="section1" class="container">

  <div class="blockPadding-50-bottom">
    <h1 class="center">TrueSpirit website</h1>
    <h3 class="center">E-commerce design for a school uniform company</h3>
    <p class="center"><strong>TOPICS: </strong>Card sorting, Scketching, Wireframing, Scenarios, Gorilla Testing</p>
  </div>

  <!-- project | role | duration -->
  <div class="row background-lg">
    <div class="col-sm-4 padding-lr-30">
      <h4>Brief</h4>
      <p>TrueSpirit is a new internet retailer for schools and parents who want a modern school uniform for K-12 children. Unlike traditional suppliers, True Spirit encourages visitors to express their tastes with some limits.</p>
      <h4>Challenge</h4>
      <p>The TrueSprit wants to create an appropriate experience for their target customer that could be delivered via iPad as primary delivery channel.</p>
    </div>

    <div class="col-sm-4 padding-lr-30">
      <h4>Client</h4>
      <p>Student project for User Experience Design Immersive, General Assembly, Summer Sydney 2014</p>
      <h4>Duration</h4>
      <p>2 weeks</p>
      <h4>Team</h4>
      <p>Deepa Dhupalia, UX Designer</br>
        James Feng, UX Designer</br>
        Sara Michelazzo, UX Designer</br></p>
      </div>

      <div class="col-sm-4 padding-lr-30">
        <h4>My Role</h4>
        <p>Realize <strong>sketches</strong> for all pages, realize <strong>wireframes in Omnifraffle</strong> for John's and Sara's flows, realize an <strong>early-prototype in Invision</strong>, realize the <strong>mockup for the home page</strong>, improving and updating user flows and sitempas, being an active part of the team during design iterations, providing innovative ways to communicate our design solutions.</p>
        <h4>Tools</h4>
        <p>Omnigraffle, Excel, sharpies &amp; paper.</p>
      </div>
    </div>

    <!-- COMPETITIVE ANALYSIS  & RESEARCH -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <h4>COMPETITIVE ANALYSIS  &amp; RESEARCH</h4>
        <p>Trying to understand what they are doing and expecially what ther are not doing and what they are doing that I can do better.</p>
        <p class="smaller">School uniform e-commerce: Your Uniform Shop, School Uniform Australia, Made for School, Yeroga Unifroms.</br>Fashion e-commerce:  Uniqlo, Polyvore, Net a porter, Yoox, Asos.</p>     
      </div>
    </div>

    <!--IMG-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <img class="img"src="images/truespirit/1-competitive-analysis.jpg">
      </div>
    </div>

    <!--CARD SORTING & SITE MAP-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <h4>CARD SORTING &amp; SITE MAP</h4>
        <p>Card sorting had been a very useful methodology to define categories fot TrueSpirit navigation. Once defined the categories we organized the content in the Site Map.</p>
      </div>
    </div>  

    <!--IMG-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <img class="img"src="images/truespirit/2-card-sorting.jpg">
      </div>
    </div>

    <!-- SKETCHES & SCENARIOS -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <h4>SKETCHES &amp; SCENARIOS</h4>
        <p>Setting out ideas on paper, keeping the funnel wide trying to condece the best from the competitor and design inspiration.</p>
        <p>Scenarios helped to understand better the user flows and the flows an the features.</p>
      </div>
    </div>

    <!--IMG-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <img class="img"src="images/truespirit/3-sketches.jpg">
      </div>
    </div>

    <!-- PERSONAS -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <h4>PERSONAS</h4>
        <p>Personas were given as part of the assignment. Our role was to keep them in mind, understand what they need, building out personas as much as possible</p>
      </div>
    </div>

    <!--3 COLUMS FOR PERSONAS-->
    <div class="row blockPadding-50-top">
      <!--Sara-->
      <div class="col-sm-6 padding-lr-30">
        <h4>SARAH</h4>
        <img class="img" src="images/truespirit/ux-persona-sarah.jpg">

        <p>Goals &amp; Features: </p>
        <ul>
          <li>specific URL and login required to purchase and specific section required clothes</li>
          <li>school button on the home page in case she doesn't have the URL</li>
          <li>materials and importation info</li>
          <li>add to favorites "She likes to save items while browsing and purchase them at the end of the day"</li>
          <li>care, comfort and fit in the description</li>
        </ul>
      </div>
      <!--John-->
      <div class="col-sm-6 padding-lr-30">
        <h4>JOHN</h4>
        <img class="img" src="images/truespirit/ux-persona-john.jpg">
        <p>Goals &amp; Features: </p>
        <ul>
          <li>quick buy mode in category page</li>
          <li>dropdown menu and filter (colors, prices)</li>
        </ul>
      </div>
    </div>


    <!--NAVIGATION &amp; WIREFRAMES-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>WIREFRAMES</h4>
        <img class="img" src="images/truespirit/main-pages-wireframes.jpg">
        <img class="img" src="images/truespirit/sarah-wireframes.jpg">
        <img class="img" src="images/truespirit/shopping-card-wireframes.jpg">
        <h4>NAVIGATION</h4>
        <img class="img" src="images/truespirit/navigation-wireframe.jpg">
      </div>
    </div> 

    <!-- JOHN'S USER FLOW -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>JOHN'S USER FLOW</h4>
        <p>This map helps to understand how to navigate the website and where there are shortcuts to reach one or more pages.</p>
        <img class="img" src="images/truespirit/Johns-user-flow.jpg">
      </div>
    </div>

    <!-- USABILITY TESTING -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <h4>USABILITY TESTING</h4>
        <p>The prototype has been tested on 3 people thorough a Gorilla testing.</p>
        <p><strong>Pain points:</strong></p>
        <ul>
          <li>We expect picture to zoom.. but user expected to go to details pagedropdown menu and filter (colors, prices)</li>
          <li>One user would have saved his profile if it didn't include credit card</li>
          <li>User went to sales button to find polo shirt rather than top navigation bar.</li>
          <li>2/3 users could not find the alternative views (eg gallery vs list).</li>
        </ul>
      </div>
    </div> 

    <!--IMG-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <img class="img" src="images/truespirit/usability-testing.jpg">
      </div>
    </div> 

    <!-- VISUAL DESIGN -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-4 padding-lr-30">
        <img class=""src="images/truespirit/visual-design.gif">
      </div>          
      <div class="col-sm-6 padding-lr-30">
        <h4>VISUAL DESIGN</h4>
        <p>I have realized a mock-up of the visual design in order to understand if the home page was meeting the business style.</p>
        <p><strong>Business style requirements:</strong> Fresh, modern, lighthearted, open, appealing,  friendly, curated, there when you need us but not in your way.</p>
      </div>
    </div>  



    <!-- PRESENTATION -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <h4>STORYTELLING</h4>
        <p>In order to communicate our design effectively we have played a role game. Where one us was playing the role of one of our persona using a prototype. We also had an external narrator to explain our design choices based on the action of our persona.</p>
      </div>  
      <div class="col-sm-4 padding-lr-30">
        <p class="center"><a href="http://www.slideshare.net/SaraMichelazzo/user-experience-design-for-ecommerce" target="blank"><button type="button" class="btn btn-primary btn-lg">VIEW PRESENTATION</button></a></p>
      </div>  
    </div> 

    <!--IMG-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <img class="img"src="images/truespirit/presentation.jpg">
      </div>
    </div> 


    <!-- MORE ABOUT THIS PROJECT -->
    <div class="row blockPadding-50">
      <div class="col-sm-12 padding-lr-30 center">
        <h4>DO YOU WANT TO SEE MORE ABOUT THIS PROJECT</h4>
        <div class="row">
          <div class="col-sm-4 padding-lr-30">
            <img class=""src="images/truespirit/invisio_logo.png">
            <p>Live prototype in invision</p>
            <a href="http://invis.io/NVMSPEXU" target="blank"><button type="button" class="btn btn-primary btn-lg">invision prototype</button></a>
          </div>
          <div class="col-sm-4 padding-lr-30">
            <img class=""src="images/truespirit/omnigraffle_logo.png">
            <p>Prototype in Omnigraffle</p>
            <a href="http://www.slideshare.net/SaraMichelazzo/finalised-prototype" target="blank"><button type="button" class="btn btn-primary btn-lg">Omnigraffle prototype</button></a>
          </div>
          <div class="col-sm-4 padding-lr-30">
            <img class=""src="images/truespirit/slideshare_logo.png">
            <p>Design Spec</p>
            <a href="http://www.slideshare.net/SaraMichelazzo/design-specificationsjd" target="blank"><button type="button" class="btn btn-primary btn-lg">View Design Spec</button></a>
          </div>
        </div>
      </div>
    </div> 
  </section>

      <!--navigaton-->
  <nav class="linkNavigation">
    <ul class="container linkNavigation-elements">
      <li class="linkNavigation-prev"><a href="/linkedin"><< LinkedIn</a></li>
      <li class="linkNavigation-next"><a href="/iphoneapp">James' iPhone App >></a></li>
    </ul>
  </nav>