<section id="section1" class="container">

  <div class="blockPadding-50-bottom">
    <h1 class="center">TrueSpirit e-commerce</h1>
    <h3 class="center">Design of a brand new e-commerce</h3>
    <p class="center"><strong>TOPICS: </strong>Card sorting, Sketches, Wireframes, Scenarios, Gorilla Testing.</p>
  </div>

  <!-- project | role | duration -->
  <div class="row background-lg">
    <div class="col-sm-4 padding-lr-30">
      <h4>Brief</h4>
      <p>TrueSpirit is a new internet retailer for schools and parents who want a modern school uniform for K-12 children. Unlike traditional suppliers, TrueSpirit encourages visitors to express their tastes with some limits.</p>
      <h4>Challenge</h4>
      <p>TrueSprit wants to create an appropriate experience for their target customer that could be delivered via iPad as the primary delivery channel.</p>
    </div>

    <div class="col-sm-4 padding-lr-30">
      <h4>Client</h4>
      <p>Project for User Experience Design Immersive at General Assembly, Sydney 2014</p>
      <h4>Duration</h4>
      <p>2 weeks</p>
      <h4>Team</h4>
      <p>Deepa Dhupalia</br>
        James Feng</br>
        Sara Michelazzo</br></p>
      </div>

      <div class="col-sm-4 padding-lr-30">
        <h4>My Role</h4>
        <p>Realize sketches for all pages, realize wireframes in Omnigraffle, realize an early-prototype in InVision, realize a mockup for the home page, improve and update user flows and sitemaps, execute design iterations, provide innovative ways to communicate our design.</p>
        <h4>Tools</h4>
        <p>Omnigraffle, Photoshop CC, Excel, Sharpies &amp; paper.</p>
      </div>
    </div>

    <!-- COMPETITIVE ANALYSIS  & RESEARCH -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <h4>COMPETITIVE ANALYSIS  &amp; RESEARCH</h4>
        <p>The competitor analysis involved both school uniforms e-commerce and fashion e-commerce. This research helped us to understand what the competitors are doing and what they are not doing in order to define a strategy.</p>
        <p><strong>School uniform e-commerce analyzed:</strong> Your Uniform Shop, School Uniform Australia, Made for School, Yeroga Uniforms.</br><strong>Fashion e-commerce analyzed:</strong>  Uniqlo, Polyvore, Net a porter, Yoox, Asos.</p>     
      </div>
    </div>

    <!--IMG-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <img class="img"src="images/truespirit/1-competitive-analysis.jpg">
      </div>
    </div>

    <!--CARD SORTING & SITE MAP-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <h4>CARD SORTING &amp; SITE MAP</h4>
        <p>Card sorting was used to define categories for TrueSpirit navigation. The main problems were:
        <ul>
          <li>Define the main criteria for organizing categories (tops and bottoms, boys and girls, summer and winter uniforms).</li>
          <li>Define subcategories.</li>
          <li>Identify in which subcategory to divide items.</li>
          <li>Define clear labels for categories, subcategories and items.</li>
        <p>After we defined the categories, we organized the rest of content in the Site Map.</p>
      </div>
    </div>  

    <!--IMG-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <img class="img"src="images/truespirit/2-card-sorting.jpg">
      </div>
    </div>

    <!-- SKETCHES & SCENARIOS -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <h4>SKETCHES &amp; SCENARIOS</h4>
        <p>I have started to create sketches of the product page and of the category page. The goal was to condense in one design the best ideas collected during the competitor analysis. In order to reach the best solution possible, the team sketched every page individually and reviewed them as a team. I have also created some scenarios including low fidelity sketches to test the navigation system and to understand which features to include in the e-commerce.</p>
      </div>
    </div>

    <!--IMG-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <img class="img"src="images/truespirit/3-sketches.jpg">
      </div>
    </div>

    <!-- PERSONAS -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <h4>PERSONAS</h4>
        <p>Personas were given as part of the assignment. Our role was to keep them in mind, understand what they need, and build out personas as much as possible.</p>
      </div>
    </div>

    <!--3 COLUMS FOR PERSONAS-->
    <div class="row blockPadding-50-top">
      <!--Sara-->
      <div class="col-sm-6 padding-lr-30">
        <h4>SARAH</h4>
        <p>Digital project manager, new to uniforms, spendy.</p>
        <img class="img " src="images/truespirit/ux-persona-sarah.jpg">

        <p class="blockPadding-20px"><strong>Goals &amp; Features: </strong></p>
        <ul>
          <li>Specific URL and login required to purchase mandatory and suggested clothes.</li>
          <li>School link in the global navigation.</li>
          <li>Materials and care instructions.</li>
          <li>Add to favorites "She likes to save items while browsing and purchase them at the end of the day".</li>
        </ul>
      </div>
      <!--John-->
      <div class="col-sm-6 padding-lr-30">
        <h4>JOHN</h4>
        <p>Accountant, single dad, frugal and tech-averse.</p>
        <img class="img" src="images/truespirit/ux-persona-john.jpg">
        <p class="blockPadding-20px"><strong>Goals &amp; Features:</strong></p>
        <ul>
          <li>Quick buy view in category page.</li>
          <li>Dropdown menu and filters (colors, prices)</li>
        </ul>
      </div>
    </div>


    <!--NAVIGATION &amp; WIREFRAMES-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>MAIN  PAGES</h4>
        <p>The wireframes were realized with Omnigraffle. On the left side of every wireframe there are some annotations, these include the description of the main features and the explanations for the design choices.  </p>
        <p>They represent, from left to right, the home page, the category view and the product page. </p>
        <img class="img-noborder " src="images/truespirit/main-pages-wireframes.jpg">
        <h4>SCHOOL  PAGES (CUSTOMIZABLE) </h4>
        <p>The wireframes below represent, from left to right, the school home page, the category view (with compulsory and suggested items) and the product page.</p>
        <img class="img-noborder " src="images/truespirit/sarah-wireframes.jpg">
        <h4>Check  out  process</h4>
        <p>The wireframe below represent the 3 steps to check out: shopping bag, payment and confirm message.</p>
        <img class="img-noborder " src="images/truespirit/shopping-card-wireframes.jpg">
        <h4>NAVIGATION</h4>
        <p>The wireframes below represent the navigation schema. The maps help to understand which pages are connected and where there are shortcuts to reach pages. The wireframes represent from left to right the global navigation, the contextual navigation, the filter, the contextual breadcrumbs and the footer.</p>
        <img class="img-noborder" src="images/truespirit/navigation-wireframe.jpg">
      </div>
    </div> 

    <!-- JOHN'S USER FLOW -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <h4>JOHN'S USER FLOW</h4>
        <p>The wireframes below represent the sequence of the steps that John has to take in order to purchase a white polo t-shirt and some blue pants for his daughter. I have used this set of wireframes to create a clickable prototype for iPad that simulates John’s flow.</p>
        <img class="img" src="images/truespirit/Johns-user-flow.jpg">
      </div>
    </div>

    <!-- USABILITY TESTING -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <h4>USABILITY TESTING</h4>
        <p>The prototype has been tested on 3 people thorough a Gorilla Testing.</p>
        <p><strong>Pain points:</strong></p>
        <ul>
          <li>We expected picture to zoom but user expected it to be a link to go to the details page dropdown menu and filter (colors, prices).</li>
          <li>One user would have saved his profile if it didn't include saving his credit card details.</li>
          <li>User went to sales button to find a polo shirt rather than top navigation bar.</li>
          <li>2/3 users could not find the alternative views (e.g. gallery versus list).</li>
        </ul>
      </div>
    </div> 

    <!--IMG-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <img class="img" src="images/truespirit/usability-testing.jpg">
      </div>
    </div> 

    <!-- VISUAL DESIGN -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-6 padding-lr-30">
        <img class=""src="images/truespirit/visual-design.gif">
      </div>          
      <div class="col-sm-6 padding-lr-30">
        <h4>VISUAL DESIGN</h4>
        <p>Starting from the home page wireframe, I have realized the home page mock-up using Photoshop. The goal was to understand if the home page wireframe could be successfully converted in a mock-up. The visual design I have realized follows the business style requirements and uses the logo colors.</p>
        <p><strong>Business style requirements:</strong></br> Fresh, modern, light hearted, open, appealing,  friendly, curated, there when you need us but not in your way.</p>
        <p><strong>Colors:</strong></br> Light blue and dark gray.</p>
      </div>
    </div>  



    <!-- PRESENTATION -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <h4>STORYTELLING</h4>
        <p>In order to communicate our design effectively, during the presentation, we have played a role game. Deepa was the external narrator and James was pretending to be John, one of our personas. This allowed us to show the full prototype explaining what the user does, sees and thinks while purchasing the school uniform items.</p>
        <p>After the role game I have explained our group's main design choices and the process we went through in order to make our design decisions.</p>
      </div>  
      <div class="col-sm-4 padding-lr-30">
        <p class="center"><a href="http://www.slideshare.net/SaraMichelazzo/user-experience-design-for-ecommerce" target="blank"><button type="button" class="btn btn-primary btn-lg">VIEW PRESENTATION</button></a></p>
      </div>  
    </div> 

    <!--IMG-->
    <div class="row blockPadding-50-top">
      <div class="col-sm-12 padding-lr-30">
        <img class="img"src="images/truespirit/presentation.jpg">
      </div>
    </div> 


    <!-- RESULTS -->
    <div class="row blockPadding-50-top">
      <div class="col-sm-8 padding-lr-30">
        <h4>RESULTS</h4>
        <p>In two weeks the team was able to design wireframes for all the main pages of the website: product page, category page, home page and also screens for the check-out process and a customizable site for the schools. The design was iterated based on the observations and findings from the usability testing.</p>
      </div>  
    </div> 

    <!-- MORE ABOUT THIS PROJECT -->
    <div class="row blockPadding-50">
      <div class="col-sm-12 padding-lr-30 center">
        <h4>DO YOU WANT TO SEE MORE ABOUT THIS PROJECT?</h4>
        <div class="row blockPadding-50-top">
          <div class="col-sm-4 padding-lr-30 blockPadding-50-bottom">
            <img class=""src="images/truespirit/invisio_logo.png">
            <p>Live prototype in InVision</p>
            <a href="http://invis.io/NVMSPEXU" target="blank"><button type="button" class="btn btn-primary btn-lg">InVision Prototype</button></a>
          </div>
          <div class="col-sm-4 padding-lr-30 blockPadding-50-bottom">
            <img class=""src="images/truespirit/omnigraffle_logo.png">
            <p>Prototype in Omnigraffle</p>
            <a href="http://www.slideshare.net/SaraMichelazzo/finalised-prototype" target="blank"><button type="button" class="btn btn-primary btn-lg">Omnigraffle prototype</button></a>
          </div>
          <div class="col-sm-4 padding-lr-30 blockPadding-50-bottom">
            <img class=""src="images/truespirit/slideshare_logo.png">
            <p>Design Specification</p>
            <a href="http://www.slideshare.net/SaraMichelazzo/design-specificationsjd" target="blank"><button type="button" class="btn btn-primary btn-lg">View Design Spec</button></a>
          </div>
        </div>
      </div>
    </div> 
  </section>

      <!--navigaton-->
  <nav class="linkNavigation">
    <ul class="container linkNavigation-elements">
      <li class="linkNavigation-prev"><a href="/linkedin">&lt;&lt; LinkedIn</a></li>
      <li class="linkNavigation-next"><a href="/iphoneapp">James' iPhone App &gt;&gt;</a></li>
    </ul>
  </nav>