<section class='blockPadding-50 container'>
  <h1 class="h1-best-works center">My best works</h1>
  
  <div class="row center noMargin">

    <div class="col-md-4 blockMargin-small-bottom ">
      <a class="mediaObject" href="/gocatch">
        <div class="mediaObject-imgContainer">
          <img class="mediaObject-img" src="images/gocatch/gocatch.jpg" alt="goCatch App">
        </div>
        <div class="mediaObject-text">
          <h2>goCatch</h2>
          <h3>Review of the booking process</h3>
          <p class="smaller"><strong>TOPICS: </strong>User Research, Contextual Inquiries, Interviews, Empathy Mapping</p>
        </div>
      </a>
    </div>

    <div class="col-md-4 blockMargin-small-bottom">
      <a class="mediaObject" href="/linkedin">
        <div class="mediaObject-imgContainer">
          <img class="mediaObject-img" src="images/linkedin/linkedin-home-animation-small.gif" alt="LikedIn feature group axure prototype designed by Sara Michelazzo">
        </div>
        <div class="mediaObject-text">
          <h2>LinkedIn</h2>
          <h3>Boosting the group feature</h3>
          <p class="smaller"><strong>TOPICS: </strong>Research, Ideation, Prototyping with Axure, Usability Testing</p>
        </div>
      </a>
    </div>

    <div class="col-md-4 blockMargin-small-bottom">
      <a class="mediaObject" href="/truespirit">
        <div class="mediaObject-imgContainer">
          <img class="mediaObject-img" src="images/truespirit/truespirit-home.gif" alt="TrueSpirit mini-iPhone homepage. Wireframe and visual design by Sara Michelazzo.">
        </div>
        <div class="mediaObject-text">
          <h2>TrueSpirit</h2>
          <h3>E-commerce design</h3>
          <p class="smaller"><strong>TOPICS: </strong>Card Sorting, Sketches, Wireframes, Scenarios, Guerilla Testing</p>
        </div>
      </a>
    </div>

    <div class="col-md-4 blockMargin-small-bottom">
      <a class="mediaObject" href="/iphoneapp">
        <div class="mediaObject-imgContainer">
          <img class="mediaObject-img" src="images/iphoneapp/james-home.png" alt="James'app sketches for iPhone by Sara Michelazzo.">
        </div>
        <div class="mediaObject-text">
          <h2>James' App</h2>
          <h3>Mobile Application</h3>
          <p class="smaller"><strong>TOPICS: </strong>Needfinding, Scenarios, Rapid Prototyping (POP)</p>
        </div>
      </a>
    </div>

    <div class="col-md-4 blockMargin-small-bottom">
      <a class="mediaObject" href="/solairplmux">
        <div class="mediaObject-imgContainer">
          <img class="mediaObject-img" src="images/solairplm/solair-plm-home.jpg" alt="Photograph of Sara Michelazzo showing to a co-worker personas from the walls.">
        </div>
        <div class="mediaObject-text">
          <h2>Solair PLM</h2>
          <h3>UX Strategy</h3>
          <p class="smaller"><strong>TOPICS: </strong>Personas, Interaction Design, Prototyping,Visual Design</p>
        </div>
      </a>
    </div>

    <div class="col-md-4 blockMargin-small-bottom">
      <a class="mediaObject" href="/solairsite">
        <div class="mediaObject-imgContainer">
          <img class="mediaObject-img" src="images/solairsite/product-home.png" alt="Images of a desketop and a tablet showing a responsive web site designed and coded by Sara Michelazzo.">
        </div>
        <div class="mediaObject-text">
          <h2>Solair Site</h2>
          <h3>Responsive Web Site</h3>
          <p class="smaller"><strong>TOPICS: </strong>Site Maps, Wireframes, Web Development, Visual Design</p>
        </div>
      </a>
    </div>

  </div>


</section>